@charset "utf-8";
/* ===================================================================

 file name  :course.css
 style info :コース

=================================================================== */

/* =============================

	overwrite

=============================== */

.ttl02{
	font-weight: bold;
}


/* =================================== */

#main .hole-map{
	position: relative;
	margin-bottom: 110px;
}
#main .hole-map .catch{
	margin-bottom: 2em;
	font-size: 26px;
	line-height: 1.76;
}
#main .hole-map .lead{
	width: 400px;
	font-size: 14px;
	line-height: 2.5;
}
#main .hole-map .map{
	position: absolute;
	top: -240px;
	right: 0;
}
#main .hole-map .map-img{
	position: relative;
}
#main .hole-map .map-btn li{
	position: absolute;
	background: #fff;
}
#main .hole-map .map-btn-s li:first-child{
	top: 162px;
	left: 542px;
}
#main .hole-map .map-btn-s li:nth-child(2){
	top: 211px;
	left: 519px;
}
#main .hole-map .map-btn-s li:nth-child(3){
	top: 364px;
	left: 435px;
}
#main .hole-map .map-btn-s li:nth-child(4){
	top: 408px;
	left: 473px;
}
#main .hole-map .map-btn-s li:nth-child(5){
	top: 308px;
	left: 556px;
}
#main .hole-map .map-btn-s li:nth-child(6){
	top: 253px;
	left: 537px;
}
#main .hole-map .map-btn-s li:nth-child(7){
	top: 324px;
	left: 404px;
}
#main .hole-map .map-btn-s li:nth-child(8){
	top: 392px;
	left: 340px;
}
#main .hole-map .map-btn-s li:nth-child(9){
	top: 277px;
	left: 384px;
}
#main .hole-map .map-btn-h li:first-child{
	top: 186px;
	left: 324px;
}
#main .hole-map .map-btn-h li:nth-child(2){
	top: 221px;
	left: 240px;
}
#main .hole-map .map-btn-h li:nth-child(3){
	top: 350px;
	left: 156px;
}
#main .hole-map .map-btn-h li:nth-child(4){
	top: 495px;
	left: 82px;
}
#main .hole-map .map-btn-h li:nth-child(5){
	top: 530px;
	left: 109px;
}
#main .hole-map .map-btn-h li:nth-child(6){
	top: 480px;
	left: 220px;
}
#main .hole-map .map-btn-h li:nth-child(7){
	top: 422px;
	left: 198px;
}
#main .hole-map .map-btn-h li:nth-child(8){
	top: 317px;
	left: 207px;
}
#main .hole-map .map-btn-h li:nth-child(9){
	top: 246px;
	left: 332px;
}
#main .hole-map .map-btn li a{
	opacity: 1;
}
#main .hole-map .map-btn li a:hover{
	opacity: .8;
}
#main .hole-map .map-cap{
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 15px 10px 15px 37px;
	border: 1px solid #000;
	font-size: 14px;
	line-height: 1;
}
#main .hole-map .map-cap:before{
	content: "";
	position: absolute;
	left: 14px;
	top: 50%;
	width: 0;
	height: 0;
	transform: translateY(-50%);
	border-style: solid;
	border-width: 0 6px 7px 6px;
	border-color: transparent transparent #000 transparent;
}

/**/
#main .bg-b{
	margin-bottom: 105px;
}
#main .bg-k{
	margin-bottom: -70px;
}
#main .yardege .ttl-bg{
	display: inline-block;
	margin-bottom: 45px;
	padding: 0 26px;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	font-size: 28px;
}
#main .yardege .ttl-bg-course{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	float: left;
	width: 240px;
	height: 222px;
	font-weight: normal;
	color: #fff;
}
#main .yardege .ttl-bg-course-s{
	background: url(../img/course/index/bg_ttl_hole_s.jpg) no-repeat 50% 50%;
}
#main .yardege .ttl-bg-course-h{
	background: url(../img/course/index/bg_ttl_hole_h.jpg) no-repeat 50% 50%;
}
#main .yardege .ttl-bg-course .jp{
	position: relative;
	font-size: 26px;
}
#main .yardege .ttl-bg-course .jp:before{
	content: "";
	display: block;
	margin: 0 auto 20px;
	width: 40px;
	height: 1px;
	background: #fff;
}
#main .yardege .ttl-bg-course .en{
	margin-top: 6px;
	font-size: 16px;
}

#main .yardege-table{
	float: right;
	width: 824px;
}
#main .ttl-yardage{
	padding: 14px 0;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	line-height: 1;
	text-align: center;
}
#main .ttl-yardage-s{
	background: #5b8b27;
}
#main .ttl-yardage-h{
	background: #005f2e;
}
#main .yardege table{
	width: 824px;
	border: 1px solid #d7d7d7;
	text-align: center;
	box-sizing: border-box;
}
#main .yardege table th{
	padding: 14px 0;
	text-align: center;
	border: 1px solid #d7d7d7;
	box-sizing: border-box;
}
#main .yardege table td{
	padding: 12px 0;
	border: 1px solid #d7d7d7;
	font-size: 15px;
	line-height: 1;
	box-sizing: border-box;
}
#main .yardege table .bg td{
	background: #f4f9f5;
}
#main .yardege table tr:last-child td{
	font-weight: bold;
}
#main .yardege table .t-ttl02 th{
	font-size: 14px;
	line-height: 1;
	background: #f4f4f4;
}
#main .yardege table .t-ttl03{
	padding: 12px 0;
	font-size: 15px;
	background: #f4f4f4;
	color: #005f2e;
	line-height: 1;
}
#main .yardege table.total{
	margin-top: 26px;
	background: #f4f4f4;
	line-height: 1;
}
#main .yardege table.total th{
	font-size: 15px;
	color: #005f2e;
}
#main .yardege table .w01{width: 68px;}
#main .yardege table .w02{width: 54px;}
#main .yardege table .w03{width: 72px;}
#main .yardege table .w04{width: 157px;}
#main .yardege table .w05{width: 104px;}
#main .yardege table .w06{width: 133px;}
#main .yardege table .w07{width: 118px;}
#main .yardege table .w08{width: 118px;}
#main .yardege table a{
	color: #005f2e;
	text-decoration: underline;
}
#main .yardege table a:hover{
	text-decoration: none;
}
#main .y-course{
	margin-bottom: 65px;
}

/* ==========================================================================
   smartPhone
   ========================================================================== */
@media screen and (max-width: 640px){

	/* =============================

		overwrite

	=============================== */
	
	.ttl02{
		font-weight: normal;
	}
	
	
	/* =================================== */
	
	#main .hole-map{
		margin-bottom: 50px;
	}
	#main .hole-map .catch{
		margin-bottom: 1.3em;
		font-size: 14px;
		line-height: 1.5;
	}
	#main .hole-map .lead{
		width: auto;
		margin-bottom: 1.3em;
		font-size: 12px;
		line-height: 1.8;
	}
	#main .hole-map .map{
		position: static;
		width: auto;
		height: auto;
	}
	#main .hole-map .map-btn li{
		width: 8.3%;
		background: none;
	}
	#main .hole-map .map-btn-s li:first-child{
		top: 24%;
		left: 79%;
	}
	#main .hole-map .map-btn-s li:nth-child(2){
		top: 32.4%;
		left: 74.7%;
	}
	#main .hole-map .map-btn-s li:nth-child(3){
		top: 56.4%;
		left: 62.6%;
	}
	#main .hole-map .map-btn-s li:nth-child(4){
		top: 62.7%;
		left: 69%;
	}
	#main .hole-map .map-btn-s li:nth-child(5){
		top: 48%;
		left: 80.1%;
	}
	#main .hole-map .map-btn-s li:nth-child(6){
		top: 40%;
		left: 77.3%;
	}
	#main .hole-map .map-btn-s li:nth-child(7){
		top: 50%;
		left: 58.2%;
	}
	#main .hole-map .map-btn-s li:nth-child(8){
		top: 62%;
		left: 48.9%;
	}
	#main .hole-map .map-btn-s li:nth-child(9){
		top: 42.9%;
		left: 55.3%;
	}
	#main .hole-map .map-btn-h li:first-child{
		top: 28.8%;
		left: 46.6%;
	}
	#main .hole-map .map-btn-h li:nth-child(2){
		top: 33.8%;
		left: 34.5%;
	}
	#main .hole-map .map-btn-h li:nth-child(3){
		top: 55%;
		left: 22.4%;
	}
	#main .hole-map .map-btn-h li:nth-child(4){
		top: 76.5%;
		left: 9.5%;
	}
	#main .hole-map .map-btn-h li:nth-child(5){
		top: 83.3%;
		left: 16.2%;
	}
	#main .hole-map .map-btn-h li:nth-child(6){
		top: 75.1%;
		left: 31.7%;
	}
	#main .hole-map .map-btn-h li:nth-child(7){
		top: 66%;
		left: 28.5%;
	}
	#main .hole-map .map-btn-h li:nth-child(8){
		top: 49.6%;
		left: 29.8%;
	}
	#main .hole-map .map-btn-h li:nth-child(9){
		top: 37.4%;
		left: 47.8%;
	}
	#main .hole-map .map-cap{
		position: relative;
		bottom: inherit;
		right: inherit;
		margin-top: 15px;
		padding: 10px 10px 10px 37px;
		font-size: 12px;
	}
	
	/**/
	#main .bg-b{
		margin-bottom: 55px;
	}
	#main .bg-k{
		margin-bottom: -20px;
	}
	#main .yardege .ttl-bg{
		margin-bottom: 25px;
		padding: 0 13px;
		font-size: 14px;
	}
	#main .yardege .ttl-bg-course{
		float: none;
		width: 100%;
		height: auto;
		margin-bottom: 20px;
		padding: 10px 0;
	}
	#main .yardege .ttl-bg-course-s{
		background: url(../img/course/index/bg_ttl_hole_s.jpg) no-repeat 50% 50%;
		background-size: cover;
	}
	#main .yardege .ttl-bg-course-h{
		background: url(../img/course/index/bg_ttl_hole_h.jpg) no-repeat 50% 50%;
		background-size: cover;
	}
	#main .yardege .ttl-bg-course .jp{
		margin-bottom: 5px;
		font-size: 14px;
		line-height: 1;
	}
	#main .yardege .ttl-bg-course .jp:before{
		content: none;
	}
	#main .yardege .ttl-bg-course .en{
		margin-top: 0;
		font-size: 12px;
		line-height: 1;
	}
	
	#main .yardege-table{
		float: none;
		width: auto;
	}
	#main .ttl-yardage{
		padding: 10px 0;
		font-size: 13px;
	}
	#main .yardege .scroll{
		overflow: scroll;
		white-space: nowrap;
	}
	#main .yardege .scroll::-webkit-scrollbar{
		height: 5px;
	}
	#main .yardege .scroll::-webkit-scrollbar-track{
		background: #F1F1F1;
	}
	#main .yardege .scroll::-webkit-scrollbar-thumb {
		background: #BCBCBC;
	}

	#main .yardege table{
		width: 625px;
	}
	#main .yardege table th{
		padding: 12px 3px;
		text-align: center;
		border: 1px solid #d7d7d7;
		box-sizing: border-box;
	}
	#main .yardege table td{
		padding: 12px 3px;
		font-size: 12px;
	}
	#main .yardege table .t-ttl01{
		font-size: 13px;
	}
	#main .yardege table .t-ttl02 th{
		font-size: 12px;
	}
	#main .yardege table .t-ttl03{
		padding: 10px 3px;
		font-size: 12px;
	}
	#main .yardege table.total{
		margin-top: 16px;
	}
	#main .yardege table.total th{
		font-size: 12px;
	}
	#main .yardege table .w01{width: 60px;}
	#main .yardege table .w02{width: 46px;}
	#main .yardege table .w03{width: 44px;}
	#main .yardege table .w04{width: 120px;}
	#main .yardege table .w05{width: 75px;}
	#main .yardege table .w06{width: 100px;}
	#main .yardege table .w07{width: 90px;}
	#main .yardege table .w08{width: 90px;}
	#main .yardege table a:hover{
		text-decoration: underline;
	}
	#main .y-course{
		margin-bottom: 35px;
	}
}
