@charset "utf-8";
/* ===================================================================

 file name  :access.css
 style info :アクセス

=================================================================== */

/* =============================

	overwrite

=============================== */


/* =================================== */

#main .access-info{
	margin-bottom: 80px;
}
#main .access-info .info{
	width: 100%;
	font-size: 15px;
}
#main .access-info .info th{
	width: 230px;
	padding: 28px 0;
	border: 1px solid #d7d7d7;
	background: #f4f4f4;
	box-sizing: border-box;
	text-align: center;
}
#main .access-info .info td{
	padding: 28px 30px;
	border: 1px solid #d7d7d7;
}
@media all and (-ms-high-contrast:none){
  *::-ms-backdrop, #main .access-info .info th{
		padding: 32px 0 24px 0;
	}
  *::-ms-backdrop, #main .access-info .info td{
		padding: 32px 30px 24px 30px;
	}
}
#main .access-info a{
	color: #333;
}


#gmap{
	height:627px;
	margin:0 0 80px;
}


/* */
#main .access-car{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
#main .access-car .img{
	width: 636px;
	padding: 18px;
	background: #efefef;
}
#main .access-car .root li{
	position: relative;
	width: 396px;
	margin-bottom: 53px;
	padding: 10px 0;
	background: #31509f;
	font-size: 16px;
	color: #fff;
	text-align: center;
}
@media all and (-ms-high-contrast:none){
  *::-ms-backdrop, #main .access-car .root li{
		padding: 14px 0 10px 0;
	}
}
#main .access-car .root li:nth-of-type(2){
	background: #203c86;
}
#main .access-car .root li:nth-of-type(3){
	background: #0c286e;
	margin-bottom: 0;
}
#main .access-car .root li:before{
	content: "";
	position: absolute;
	bottom: -34px;
	left: 50%;
	width: 2px;
	height: 15px;
	background: #172c6f;
}
#main .access-car .root li:after{
	content: "";
	position: absolute;
	bottom: -35px;
	left: 50%;
	width: 6px;
	height: 6px;
	margin-left: -3px;
	border-top: 2px solid #172c6f;
	border-right: 2px solid #172c6f;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}
@media all and (-ms-high-contrast:none){
  *::-ms-backdrop, #main .access-car .root li:after{
		margin-left: -2.5px;
	}
}
#main .access-car .root li:last-child:before,
#main .access-car .root li:last-child:after{
	content: none;
}


/* ==========================================================================
   smartPhone
   ========================================================================== */
@media screen and (max-width: 640px){

	/* =============================

		overwrite

	=============================== */
	
	
	
	/* =================================== */

	#main .access-info{
		margin-bottom: 40px;
	}
	#main .access-info .info{
		font-size: 12px;
	}
	#main .access-info .info th{
		width: 25%;
		padding: 14px 0;
	}
	#main .access-info .info td{
		padding: 14px 10px;
	}
	#gmap{
		height:313px;
		margin:0 0 40px;
	}
	/* */
	#main .access-car{
		display: block;
	}
	#main .access-car .img{
		width: auto;
		margin-bottom: 20px;
		padding: 10px;
	}
	#main .access-car .root li{
		width: auto;
		margin-bottom: 38px;
		font-size: 12px;
	}
	#main .access-car .root li:before{
		bottom: -26px;
		width: 1px;
		height: 15px;
	}
	#main .access-car .root li:after{
		bottom: -26px;
		border-top: 1px solid #172c6f;
		border-right: 1px solid #172c6f;
	}
}
