@charset "utf-8";
/* ===================================================================

 file name  :reset.css
 style info :リセットCSS v3

=================================================================== */
/* reset ---*/
* {
	outline:none;
}
html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	font-smoothing:antialiased;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,figure {
	margin: 0;
	padding: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,th {
	text-align: left;
}
q:before,q:after {
	content: '';
}
object,
embed {
	vertical-align: top;
}
hr,legend {
	display: none;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}
img,abbr,acronym,fieldset {
	border: 0;
}
img {
	vertical-align:bottom;
}
li {
	list-style-type: none;
}
sup {
	font-size:62.5%;
	vertical-align: text-top;
}

/* default ---*/
body {
	background: #FFF;
	color: #333;
	font-size: 12px;
	font-size:75%\9;/* for IE */	
	font-family: "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
	/*font-family:"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo ,"ＭＳ Ｐゴシック" ,"MS P Gothic" ,sans-serif;*/
	/*font-family: "ＭＳ Ｐゴシック","MS PGothic","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN",Arial,Osaka,Sans-Serif;*/
	/*font-family: "メイリオ", Meiryo, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
	line-height: 1.5;
}
