@charset "utf-8";
/* ===================================================================

 file name  :competition0detail.css
 style info :開催結詳細ページ

=================================================================== */

/* =============================

	overwrite

=============================== */
#pageHeader {
	margin: 0 0 70px;
}



/* =================================== */
#main .sec-inner{
	position:relative;
}

/* 一覧ページ */
#main .btn-eft{
	width:280px;
	position:absolute;
	top:-73px;
	right:0;
}
#main .btn-eft a{
	font-weight: normal;
}
#main .btn-eft a:before{
	width:16px;
	height:19px;
	background:url(../img/competition/ico_pdf.png) no-repeat 0 0;
	background-size:100% auto;
	right:22px;
	margin:-10px 0 0;
}

#main .btn-year{
	margin:0 -20px 40px 0;
	font-size:150%;
}
#main .btn-year li{
	width:204px;
	float:left;
	margin:0 20px 0 0;
}
#main .btn-year li a,
#main .btn-year li span{
	display:block;
	padding:0.5em 0;
	text-align:center;
	border-bottom:solid 1px #c3c3c3;
}
#main .btn-year li.active span,
#main .btn-year li a:hover{
	background:#192d6f;
	color:#fff;
	border-bottom:none;
}


#main #feed{
	overflow:hidden;
	position: relative;
}
#main #feed dt{
	float:left;
	padding:1.6em 0 0 25px;
	color:#192d6f;
	font-style: italic;
	font-family: 'Libre Baskerville', serif;
	font-size:117%;
	position:relative;
	z-index:10;
}
#main #feed dt span{
	font-style: normal;
	font-family: "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}
#main #feed dd{
	padding:1.5em 140px 1.5em 200px;
	font-size:117%;
	position:relative;
}
#main #feed dd span{
	display:block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#main #feed dd:nth-of-type(odd){
	background:#f8f8f8;
}
#main #feed dd .more{
	display:block;
	padding:0.7em 0;
	text-align:center;
	font-size:16px;
	color:#192d6f;
	position:absolute;
	top:0.4em;
	right:34px;
	text-decoration:underline;
	font-family: 'EB Garamond', serif;
	font-style: italic;
}
#main #feed dd .more:hover{
	text-decoration:none;
}


#main .pagenation{
	margin:95px 0 0;
}
#main .pagenation ul {
	text-align:center;
}
#main .pagenation ul li{
	display:inline-block;
	height:40px;
	font-size:134%;
	line-height:2.5;
}
#main .pagenation ul .prev,
#main .pagenation ul .next{
	width:81px;
}
#main .pagenation ul li a,
#main .pagenation ul li.current span{
	display:block;
	padding:0 1em;
	height:40px;
	color:#192d6f;
	border:solid 1px #d7dce1;
}
#main .pagenation ul li a:hover,
#main .pagenation ul li.current span{
	background:#192d6f;
	border:solid 1px #192d6f;
	color:#fff;
}

#main .pagenation ul li a:hover{
}


/* 詳細ページ */










/* ==========================================================================
   smartPhone
   ========================================================================== */
@media screen and (max-width: 640px){

	/* =============================

		overwrite

	=============================== */
	#pageHeader {
		margin: 0 0 30px;
	}

	#main{
		padding:0;
	}

	/* =================================== */
	#main .sec-inner{
		position:relative;
	}
	
	/* 一覧ページ */
	#main .btn-eft{
		width:auto;
		margin:0 10px 30px;
		position:static;
	}
	
	#main .btn-year{
		margin:0 0 20px;
		padding:0 10px;
		font-size:100%;
	}
	#main .btn-year li{
		width:49%;
		float:left;
		margin:0;
	}
	#main .btn-year li:nth-child(odd){
		clear:both;
	}
	#main .btn-year li:nth-child(even){
		float:right;
	}
	#main .btn-year li a,
	#main .btn-year li span{
		display:block;
		padding:0.5em 0;
		text-align:center;
		border-bottom:solid 1px #c3c3c3;
	}
	#main .btn-year li a:hover{
		background:#fff;
		color:#333;
		border-bottom:solid 1px #c3c3c3;
	}
	
	

#main #feed{
		overflow:hidden;
		position: relative;
	}
	#main #feed dt:nth-of-type(odd){
		background:#f8f8f8;
	}
	#main #feed dt{
		float:none;
		padding:1em 0 0 10px;
		font-size:84%;
	}
	#main #feed dd{
		padding:0.5em 10px 1em;
		font-size:92%;
	}
	#main #feed dd:nth-of-type(even){
		background:#fff;
	}
	#main #feed dd .more{
		display:none;
	}

	#main .pagenation{
		margin:50px 0;
	}
	#main .pagenation ul li{
		font-size:84%;
		line-height:2.6;
	}
	#main .pagenation ul .prev,
	#main .pagenation ul .next{
		width:60px;
	}
	#main .pagenation ul li a,
	#main .pagenation ul li.current span{
		display:block;
		padding:0 0.5em;
		height:25px;
	}
	
	
	
	/* 詳細ページ */
	
	
	
}
