@charset "utf-8";
/* ===================================================================

 file name  :competition.css
 style info :開催結果ページ、詳細ページ

=================================================================== */

/* =============================

	overwrite

=============================== */
#pageHeader {
	margin: 0 0 70px;
}



/* =================================== */
#main .sec-inner{
	position:relative;
}

/* ログインページ */
.login .sec-inner{
	padding:57px 0 72px;
	background:#f3f3f3;
	border:solid 8px #eee;
	box-sizing:border-box;
}
.login .form-wrap{
	width:450px;
	margin:0 auto;
	text-align:center;
}
.login .form-wrap .txt-login{
	display:inline-block;
	margin:0 0 55px;
	font-size:134%;
	border-bottom:solid 1px #c3c3c3;
}
.login .form-wrap ul{
	padding:0 0 0 30px;
	text-align:left;
}
.login .form-wrap ul li{
	margin:0 0 22px;
	font-size:125%;
	color:#192d6f;
}
.login .form-wrap ul li span{
	display:inline-block;
	width:90px;
}
.login .form-wrap ul li input{
	width:280px;
	height:40px;
	padding:0 0.5em;
	border:solid 1px #192d6f;
	font-size:15px;
	box-sizing:border-box;
}
.login .error-msg{
	margin:-20px 0 20px;
	padding:0.2em 0.5em;
	color:#fff;
	font-size:125%;
	background:#DC7577;
}

.login .submit-btn{
	width:280px;
	margin:46px auto 0;
	background:#192d6f;
	position:relative;
}
.login .submit-btn input{
	display:block;
	width:100%;
	padding:10px 0;
	color:#fff;
	font-size:125%;
	border:none;
	-webkit-appearance:none;
	appearance:none;
	background:transparent;
	-webkit-transition:all ease 0.3s;
	-moz-transition:all ease 0.3s;
	transition:all ease 0.3s;
}
.login .submit-btn:before{
	content:"";
	display:block;
	width:20px;
	height:10px;
	background:url(../img/common/ico.png) no-repeat 0 -11px;
	background-size:110px auto;
	position:absolute;
	top:50%;
	right:13px;
	margin:-5px 0 0;
}
.login .submit-btn input:hover{
	cursor:pointer;
	background:rgba(255,255,255,0.3);
}


/* 一覧ページ */
#main .btn-eft.btn-top{
	width:280px;
	position:absolute;
	top:-73px;
	right:0;
}
#main .btn-eft a{
	font-weight: normal;
}
#main .btn-eft.btn-pdf a:before{
	width:16px;
	height:19px;
	background:url(../img/competition/ico_pdf.png) no-repeat 0 0;
	background-size:100% auto;
	right:22px;
	margin:-10px 0 0;
}
#main .btn-year{
	margin:0 -20px 40px 0;
	font-size:150%;
}
#main .btn-year li{
	width:204px;
	float:left;
	margin:0 20px 5px 0;
}
#main .btn-year li:nth-child(5n+1){
	clear:both;
}

#main .btn-year li a,
#main .btn-year li span{
	display:block;
	padding:0.5em 0;
	text-align:center;
	border-bottom:solid 1px #c3c3c3;
}
#main .btn-year li.active span,
#main .btn-year li a:hover{
	background:#192d6f;
	color:#fff;
	border-bottom:solid 1px #192d6f;
}


#main #feed{
	overflow:hidden;
	position: relative;
}
#main #feed dt{
	float:left;
	padding:1.6em 0 0 25px;
	color:#192d6f;
	font-style: italic;
	font-family: 'Libre Baskerville', serif;
	font-size:117%;
	position:relative;
	z-index:10;
}
#main #feed dt span{
	font-style: normal;
	font-family: "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}
#main #feed dd{
	padding:1.5em 140px 1.5em 200px;
	font-size:117%;
	position:relative;
}
#main #feed dd span{
	display:block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#main #feed dd:nth-of-type(odd){
	background:#f8f8f8;
}
#main #feed dd .more{
	display:block;
	padding:0.7em 0;
	text-align:center;
	font-size:16px;
	color:#192d6f;
	position:absolute;
	top:0.4em;
	right:34px;
	text-decoration:underline;
	font-family: 'EB Garamond', serif;
	font-style: italic;
}
#main #feed dd .more:hover{
	text-decoration:none;
}


#main .pagenation{
	margin:95px 0 0;
}
#main .pagenation ul {
	text-align:center;
}
#main .pagenation ul li{
	display:inline-block;
	height:40px;
	font-size:134%;
	line-height:2.5;
}
#main .pagenation ul .prev,
#main .pagenation ul .next{
	width:81px;
}
#main .pagenation ul li a,
#main .pagenation ul li.current span{
	display:block;
	padding:0 1em;
	height:40px;
	color:#192d6f;
	border:solid 1px #d7dce1;
}
#main .pagenation ul li a:hover,
#main .pagenation ul li.current span{
	background:#192d6f;
	border:solid 1px #192d6f;
	color:#fff;
}

#main .pagenation ul li a:hover{
}



/* 詳細ページ */
#main .sec-ttl{
	width:250px;
	padding:38px 30px 64px;
	float:left;
	background:#0c286e;
	color:#fff;
	box-sizing:border-box;
}
#main .sec-ttl p{
	margin:0 0 20px;
	font-size:134%;
}
#main .sec-ttl h2{
	font-size:167%;
	font-weight: normal;
}


#main .result{
	width:800px;
	float:right;
}
#main .result section.sec-result{
	margin:0 0 50px;
}
#main .result section.sec-rank1{
	margin:0 0 96px;
}
#main .result section.sec-rank2{
	width:370px;
	float:left;
}
#main .result section.sec-rank3{
	width:370px;
	float:right;
}

#main .result table{
	width:100%;
	margin:0 0 27px;
	text-align:center;
	font-size:125%;
}
#main .result table th{
	padding:1.8em 0;
	background:#f4f4f4;
	text-align:center;
	font-weight: bold;
	border:solid 1px #d7d7d7;
}
#main .result table tr:first-child th{
	padding:0.7em 0;
	color:#484848;
}
#main .result table tr th:first-child{
	width:13.5%;
}
#main .result table tr th:nth-child(2),
#main .result table tr td:nth-of-type(1){
	width:44%;
}
#main .result table tr th:nth-child(3),
#main .result table tr td:nth-of-type(2){
	width:21.875%;
}
#main .result table tr th:nth-child(4),
#main .result table tr td:nth-of-type(3){
	width:20.625%;
}

#main .result table td{
	padding:1.8em 0;
	border:solid 1px #d7d7d7;
}
#main .result table tr:nth-child(2) td:nth-of-type(2),
#main .result table tr:nth-child(2) td:nth-of-type(3){
	color:#0c286e;
	font-weight: bold;
}
#main .result .btn-result{
	width:280px;
	margin:0 0 0 auto;
}

#main .result .btn-eft.btn-bottom{
	clear:both;
	width:280px;
	margin:0 auto;
	padding:50px 0 0;
}





/* ==========================================================================
   smartPhone
   ========================================================================== */
@media screen and (max-width: 640px){

	/* =============================

		overwrite

	=============================== */
	#pageHeader {
		margin: 0 0 30px;
	}
	#pageHeader .pagehead-inner figure {
		/*margin: 0 -70% 0 -110%;*/
		margin:0 -50%;
	}
	#main{
		padding:0;
	}

	/* =================================== */
	#main .sec-inner{
		position:relative;
	}


	/* ログインページ */
	.login #main{
		padding-bottom:30px;
	}
	.login .sec-inner{
		margin:0 10px;
		padding:30px 15px;
		border:solid 4px #eee;
	}
	.login .form-wrap{
		width:100%;
		margin:0 auto;
		text-align:center;
	}
	.login .form-wrap .txt-login{
		display:block;
		margin:0 0 30px;
		padding:0 0 5px;
		font-size:100%;
	}
	.login .form-wrap ul{
		padding:0;
	}
	.login .form-wrap ul li{
		margin:0 0 10px;
		font-size:100%;
	}
	.login .form-wrap ul li input{
		width:100%;
		height:35px;
		padding:0 0.5em;
		font-size:16px;
	}
	.login .error-msg{
		margin:-10px 0 20px;
		padding:0.5em 0.2em;
		color:#fff;
		font-size:82%;
		background:#DC7577;
	}

	.login .submit-btn{
		width:100%;
		margin:30px auto 0;
	}
	.login .submit-btn input{
		width:100%;
		font-size:100%;
	}
	.login .submit-btn:before{
		width:18px;
		height:9px;
		background:url(../img/common/ico.png) no-repeat 0 -10px;
		background-size:100px auto;
		position:absolute;
		top:50%;
		right:13px;
		margin:-4px 0 0;
	}
	.login .submit-btn input:hover{
		cursor:pointer;
		background:rgba(255,255,255,0.3);
	}



	/* 一覧ページ */
	#main .btn-eft.btn-pdf{
		width:auto;
		margin:0 10px 30px;
		position:static;
	}

	#main .btn-year{
		margin:0 0 20px;
		padding:0 10px;
		font-size:92%;
	}
	#main .btn-year li{
		width:32%;
		float:left;
		margin:0 2% 2% 0;
	}
	#main .btn-year li:nth-child(3n){
		margin:0;
	}
	#main .btn-year li:nth-child(5n+1){
		clear:none;
	}
	#main .btn-year li a,
	#main .btn-year li span{
		display:block;
		padding:0.3em 0;
		text-align:center;
		border-bottom:solid 1px #c3c3c3;
	}
	#main .btn-year li a:hover{
		background:#fff;
		color:#333;
		border-bottom:solid 1px #c3c3c3;
	}


	#main #feed{
		overflow:hidden;
		position: relative;
	}
	#main #feed dt:nth-of-type(odd){
		background:#f8f8f8;
	}
	#main #feed dt{
		float:none;
		padding:1em 0 0 10px;
		font-size:84%;
	}
	#main #feed dd{
		padding:0.5em 10px 1em;
		font-size:92%;
	}
	#main #feed dd:nth-of-type(even){
		background:#fff;
	}
	#main #feed dd .more{
		display:none;
	}

	#main .pagenation{
		margin:50px 0;
	}
	#main .pagenation ul li{
		font-size:84%;
		line-height:2.6;
	}
	#main .pagenation ul .prev,
	#main .pagenation ul .next{
		width:60px;
	}
	#main .pagenation ul li a,
	#main .pagenation ul li.current span{
		display:block;
		padding:0 0.5em;
		height:25px;
	}



	/* 詳細ページ */
	#main .sec-ttl{
		width:100%;
		margin:0 0 20px;
		padding:15px 10px;
		float:none;
	}
	#main .sec-ttl p{
		margin:0 0 5px;
		font-size:100%;
	}
	#main .sec-ttl h2{
		font-size:134%;
	}


	#main .result{
		width:auto;
		float:none;
		padding:0 10px;
	}
	#main .result section{
		margin:0 0 30px !important;
	}
	#main .result section.sec-rank2{
		width:49%;
	}
	#main .result section.sec-rank3{
		width:49%;
	}

	#main .result table{
		width:100%;
		margin:0 0 27px;
		text-align:center;
		font-size:84%;
	}

	#main .result .btn-result{
		width:100%;
		margin:0;
	}


	#main .result .btn-eft.btn-bottom{
		clear:both;
		width:100%;
		margin:0 auto 30px;
		padding:0;
	}





}
