@charset "utf-8";
/* ===================================================================

 file name  :dresscode.css
 style info :ドレスコードページ

=================================================================== */

/* =============================

	overwrite

=============================== */




/* =================================== */
#main .dress h3{
	color: #0c286e;
	font-size:134%;
	margin-bottom: 20px;
}

#main .dress p,
#main .dress ul{
	margin:0 0 40px;
	font-size:125%;
	line-height: 2.4;
}
#main .dress ul{
	padding:0 0 0 1em;
}
#main .dress ul li{
	text-indent:-1em;
}
#main .dress ul li small{
	display:block;
	margin:0 0 10px;
	font-size:12px;
	line-height:1.2;
	text-indent:0.2em;
}

/* ==========================================================================
   smartPhone
   ========================================================================== */
@media screen and (max-width: 640px){

	/* =============================

		overwrite

	=============================== */




	/* =================================== */
	#main .dress h3{
		color: #0c286e;
		font-size:103%;
		margin-bottom: 20px;
	}
	
	#main .dress p,
	#main .dress ul{
		margin:0 0 40px;
		font-size:84%;
		line-height: 2;
	}
	#main .dress ul{
		padding:0 0 0 1em;
	}
	#main .dress ul li{
		text-indent:-1em;
	}
	#main .dress ul li small{
		display:block;
		margin:0 0 5px;
		font-size:9px;
		line-height:1.5;
		text-indent:0.2em;
	}
	
	
	
}
