@charset "utf-8";
/* ===================================================================

 file name  :facility.css
 style info :施設

=================================================================== */

/* =============================

	overwrite

=============================== */

#main h2{
	font-weight: normal;
}

/* 共通 */
#main .sec-head{
	height: 600px;
	padding-top: 128px;
	box-sizing: border-box;
}
#main .sec-head .ttl{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 462px;
	height: 350px;
	margin: 0 auto;
	background: rgba(21,21,21,.95);
	color: #c4a13b;
}
#main .sec-head .en{
	display: inline-block;
	margin-bottom: 20px;
	font-size: 40px;
	border-bottom: 1px solid #c4a13b;
	line-height: .7;
}
#main .sec-head .jp{
	display: block;
	font-size: 14px;
	text-align: center;
}


/* =================================== */

#main .page-lead{
	margin-bottom: 2em;
	font-size: 26px;
	text-align: center;
	line-height: 1.76;
}

/* nav */
#main .c-nav{
	margin-bottom: 76px;
}
#main .c-nav.end{
	margin-bottom: 0;
}
#main .c-nav ul{
	display: flex;
	justify-content: center;
	margin-right: -3px;
}
#main .c-nav ul li{
	width: 270px;
	margin-right: 3px;
	font-size: 18px;
	line-height: 1;
	text-align: center;
}
#main .c-nav ul li a{
	position: relative;
	display: block;
	padding: 15px 0;
	border: 1px solid #192d6f;
	background: #fff;
	transition: all .3s ease;
}
#main .c-nav ul li a:before{
	content: "";
	position: absolute;
	top: 50%;
	right: 15px;
	width: 6px;
	height: 6px;
	margin-top: -5px;
	border-top: 2px solid #0c286e;
	border-right: 2px solid #0c286e;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	transition: all .3s ease;
}
#main .c-nav.end ul li a:before{
	margin-top: -2px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#main .c-nav ul li a:hover{
	border: 1px solid #0c286e;
	background: #0c286e;
	color: #fff;
}
#main .c-nav ul li a:hover:before{
	border-top: 1.5px solid #fff;
	border-right: 1.5px solid #fff;
}
#main .c-link{
	display: block;
	height: 1;
	margin-top: -55px;
	padding-top: 55px;
}

/* clubhouse */
#main .clubhouse{
	background: url(../img/facility/bg_wall.jpg) repeat 0 0;
}
#main .clubhouse .sec-head{
	background: url(../img/facility/img_clubhouse_bg.jpg) no-repeat 50% 50%;
	background-size: cover;
}
#main .clubhouse .photo{
	padding: 70px 0 20px 0;
}
#main .clubhouse .photo ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#main .clubhouse .photo ul li{
	margin-bottom: 58px;
}

/* drivingrange */
#main .drivingrange{
	padding-bottom: 110px;
	background: url(../img/facility/bg_wall.jpg) repeat 0 0;
}
#main .drivingrange .sec-head{
	position:relative;
	background: url(../img/facility/img_drivingrange_bg.jpg) no-repeat 50% 50%;
	background-size: cover;
}
#main .drivingrange .cap{
	width:49%;
	color:#fff;
	position:absolute;
	left:0;
	bottom:0;
	text-align:right;
	font-size: 15px;
}

/* restaurant */
#main .restaurant{
	display: flex;
	height: 600px;
	background: #0c286e;
}
#main .restaurant .img{
	width: 50%;
	background: url(../img/facility/img_restaurant.jpg) no-repeat 50% 100%;
	background-size: cover;
}
#main .restaurant .info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 550px;
	padding-left: 88px;
	box-sizing: border-box;
}
#main .restaurant .info .ttl{
	margin-bottom: 50px;
	color: #c4a13b;
}
#main .restaurant .info .ttl .en{
	display: inline-block;
	margin-bottom: 20px;
	font-size: 40px;
	border-bottom: 1px solid #c4a13b;
	line-height: .7;
}
#main .restaurant .info .ttl .jp{
	display: block;
	font-size: 14px;
}
#main .restaurant .info .txt{
	margin-bottom: 3.5em;
	font-size: 16px;
	color: #fff;
	line-height: 2.25;
}
#main .restaurant .info .btn-eft{
	width: 280px;
}

/* guestroom */
#main .guestroom{
	margin-bottom: 75px;
	padding: 70px 0 105px 0;
	background: url(../img/facility/bg_wall.jpg) repeat 0 0;
}
#main .guestroom .ttl{
	margin-bottom: 54px;
	color: #c4a13b;
	text-align: center;
}
#main .guestroom .ttl .en{
	display: inline-block;
	margin-bottom: 20px;
	font-size: 40px;
	border-bottom: 1px solid #c4a13b;
	line-height: .7;
}
#main .guestroom .ttl .jp{
	display: block;
	font-size: 14px;
}
#main .guestroom .img{
	margin-bottom: 60px;
	text-align: center;
}
#main .guestroom .hotel{
	margin: 0 40px;
}
#main .guestroom .ttl-hotel{
	margin-bottom: 1.5em;
	font-size: 18px;
	font-weight: bold;
	color: #c4a13b;
}
#main .guestroom .price{
	width: 100%;
	margin-bottom: 20px;
	font-size: 15px;
}
#main .guestroom .price th{
	width: 50%;
	padding: 16px 0;
	background: #c4a13b;
	border: 1px solid #c4a13b;
	text-align: center;
}
#main .guestroom .price th:first-child{
	border-right: 1px solid #0b0b07;
}
#main .guestroom .price td{
	padding: 19px 0 19px 50px;
	border: 1px solid rgba(215,215,215,.25);
	color: #fff;
}
#main .guestroom .price td.price-em{
	font-weight: bold;
}
#main .guestroom .caption{
	font-size: 14px;
	color: #fff;
}

/* ==========================================================================
   smartPhone
   ========================================================================== */
@media screen and (max-width: 640px){

	/* =============================

		overwrite

	=============================== */
	
	#main {
		padding: 0 0 50px 0;
	}
	
	/* 共通 */
	#main .sec-head{
		height: auto;
		padding: 50px 0;
	}
	#main .sec-head .ttl{
		width: 140px;
		height: 120px;
	}
	#main .sec-head .en{
		margin-bottom: 14px;
		font-size: 17px;
	}
	#main .sec-head .jp{
		font-size: 10px;
	}
	
	
	/* =================================== */

	#main .page-lead{
		margin-bottom: 2em;
		font-size: 13px;
		line-height: 1.76;
	}
	/* nav */
	#main .c-nav{
		margin: 0 10px 36px 10px;
	}
	#main .c-nav ul{
		flex-wrap: wrap;
		margin-right: 0;
		border-right: 1px solid #192d6f;
		border-bottom: 1px solid #192d6f;
	}
	#main .c-nav ul li{
		width: 50%;
		margin-right: 0;
		font-size: 13px;
	}
	#main .c-nav ul li a{
		padding: 15px 0 24px 0;
		border: none;
		border-top: 1px solid #192d6f;
		border-left: 1px solid #192d6f;
		transition: none;
	}
	#main .c-nav ul li a:before{
		top: inherit;
		right: inherit;
		bottom: 12px;
		left: 50%;
		height: 6px;
		margin: 0 0 0 -3px;
		border-top: 1px solid #0c286e;
		border-right: 1px solid #0c286e;
		transition: none;
	}
	#main .c-nav.end ul li a:before{
		bottom: 10px;
		margin: 0 0 0 -3px;
	}
	#main .c-nav ul li a:hover{
		border: none;
		border-top: 1px solid #192d6f;
		border-left: 1px solid #192d6f;
		background: #fff;
		color: #333;
	}
	#main .c-nav ul li a:hover:before{
		border-top: 1px solid #0c286e;
		border-right: 1px solid #0c286e;
	}
	#main .c-link{
		margin-top: 0;
		padding-top: 0;
	}
	
	/* clubhouse */
	#main .clubhouse{
		background: url(../img/facility/bg_wall.jpg) repeat 0 0;
		background-size: 40px auto;
	}
	#main .clubhouse .sec-head{
		background: url(../img/facility/img_clubhouse_bg.jpg) no-repeat 50% 50%;
		background-size: auto 300px;
	}
	#main .clubhouse .photo{
		padding: 30px 10px 10px 10px;
	}
	#main .clubhouse .photo ul li{
		width: 48%;
		margin-bottom: 20px;
	}
	
	/* drivingrange */
	#main .drivingrange{
		padding-bottom: 10px;
		background: url(../img/facility/bg_wall.jpg) repeat 0 0;
		background-size: 40px auto;
	}
	#main .drivingrange .sec-head{
		background: url(../img/facility/img_drivingrange_bg.jpg) no-repeat 50% 50%;
		background-size: 100% auto;
	}
	#main .drivingrange .cap{
		font-size:75%;
		top:80%;
		bottom:auto;
	}
	
	/* restaurant */
	#main .restaurant{
		display: block;
		height: auto;
	}
	#main .restaurant .img{
		width: auto;
		background: none;
	}
	#main .restaurant .info{
		display: block;
		width: auto;
		padding: 30px 20px 30px 20px;
	}
	#main .restaurant .info .ttl{
		margin-bottom: 20px;
	}
	#main .restaurant .info .ttl .en{
		margin-bottom: 10px;
		font-size: 22px;
	}
	#main .restaurant .info .ttl .jp{
		font-size: 12px;
	}
	#main .restaurant .info .txt{
		margin-bottom: 2.5em;
		font-size: 12px;
		line-height: 1.8;
	}
	#main .restaurant .info .btn-eft{
		width: auto;
	}
	
	/* guestroom */
	#main .guestroom{
		margin-bottom: 35px;
		padding: 40px 0 35px 0;
		background: url(../img/facility/bg_wall.jpg) repeat 0 0;
		background-size: 40px auto;
	}
	#main .guestroom .ttl{
		margin-bottom: 30px;
	}
	#main .guestroom .ttl .en{
		margin-bottom: 10px;
		font-size: 22px;
	}
	#main .guestroom .ttl .jp{
		font-size: 12px;
	}
	#main .guestroom .img{
		margin-bottom: 30px;
	}
	#main .guestroom .hotel{
		margin: 0 10px;
	}
	#main .guestroom .ttl-hotel{
		margin-bottom: .8em;
		font-size: 14px;
	}
	#main .guestroom .price{
		margin-bottom: 10px;
		font-size: 12px;
	}
	#main .guestroom .price th{
		padding: 10px 0;
	}
	#main .guestroom .price td{
		padding: 10px;
	}
	#main .guestroom .caption{
		font-size: 11px;
	}
}
@media screen and (max-width: 480px){
	#main .drivingrange{
		padding-bottom: 0;
	}
	#main .drivingrange .sec-head{
		background: url(../img/facility/img_drivingrange_bg.jpg) no-repeat 50% 50%;
		background-size: auto 150px;
	}
	#main .drivingrange .cap{
		top:auto;
		bottom:0;
		margin:0 0 20px;
	}
}
