@charset "utf-8";
/* ===================================================================

 file name  :hole.css
 style info :コース詳細ページ

=================================================================== */

/* =============================

	overwrite

=============================== */
#pageHeader{
	margin:0;
}
#pageHeader .pankuzu{
	padding:14px 0;
	background:#f3f3f3;
}
#pageHeader .pankuzu ol {
	margin: 0 auto;
}

/*
#main {
	padding:0 0 110px;
	background:url(../img/course/hole/bg_main.jpg) no-repeat;
	background-size:cover;
	-webkit-transition:all ease 0.3s;
	-moz-transition:all ease 0.3s;
	transition:all ease 0.3s;
}
*/
.s-hole01 #main {background:url(../img/course/hole/bg_s01.jpg) no-repeat;}
.s-hole02 #main {background:url(../img/course/hole/bg_s02.jpg) no-repeat;}
.s-hole03 #main {background:url(../img/course/hole/bg_s03.jpg) no-repeat;}
.s-hole04 #main {background:url(../img/course/hole/bg_s04.jpg) no-repeat;}
.s-hole05 #main {background:url(../img/course/hole/bg_s05.jpg) no-repeat;}
.s-hole06 #main {background:url(../img/course/hole/bg_s06.jpg) no-repeat;}
.s-hole07 #main {background:url(../img/course/hole/bg_s07.jpg) no-repeat;}
.s-hole08 #main {background:url(../img/course/hole/bg_s08.jpg) no-repeat;}
.s-hole09 #main {background:url(../img/course/hole/bg_s09.jpg) no-repeat;}
.h-hole01 #main {background:url(../img/course/hole/bg_h01.jpg) no-repeat;}
.h-hole02 #main {background:url(../img/course/hole/bg_h02.jpg) no-repeat;}
.h-hole03 #main {background:url(../img/course/hole/bg_h03.jpg) no-repeat;}
.h-hole04 #main {background:url(../img/course/hole/bg_h04.jpg) no-repeat;}
.h-hole05 #main {background:url(../img/course/hole/bg_h05.jpg) no-repeat;}
.h-hole06 #main {background:url(../img/course/hole/bg_h06.jpg) no-repeat;}
.h-hole07 #main {background:url(../img/course/hole/bg_h07.jpg) no-repeat;}
.h-hole08 #main {background:url(../img/course/hole/bg_h08.jpg) no-repeat;}
.h-hole09 #main {background:url(../img/course/hole/bg_h09.jpg) no-repeat;}

.s-hole01 #main,.s-hole02 #main,.s-hole03 #main,
.s-hole04 #main,.s-hole05 #main,.s-hole06 #main,
.s-hole07 #main,.s-hole08 #main,.s-hole09 #main,
.h-hole01 #main,.h-hole02 #main,.h-hole03 #main,
.h-hole04 #main,.h-hole05 #main,.h-hole06 #main,
.h-hole07 #main,.h-hole08 #main,.h-hole09 #main{
	padding:0 0 110px;
	background-size:cover;
	background-position:50% 0;
	-webkit-transition:all ease 0.3s;
	-moz-transition:all ease 0.3s;
	transition:all ease 0.3s;
}


#content .pagination {
	margin:0;
	position: relative;
}
#content .pagination li{
	margin:-134px 0 0;
}
#content .pagination li a{
	border-color:#fff;
	color:#fff;
}

#content .pagination a:before{
	background-position:0 -11px;
}
#content .pagination .btn-prev a:before{
	background-position:0 -33px;
}

#content .pagination a:hover{
	background:rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 1380px){
	#main {
		padding:0 0 200px !important;
	}
}



/* =================================== */
#main .sec-inner{
	padding:98px 10px 0;
}
#main .hole-detail{
	width:960px;
	margin:0 auto;
	padding:44px 30px 40px;
	background:rgba(255,255,255,0.95);
	box-sizing:border-box;
}
#main .hole-head{
	position:relative;
}

#main .hole-detail .hole-head h2{
	margin:0 0 42px;
	padding:0 0 16px;
	border-bottom:solid 1px #000;
	line-height:0.8;
}

#main .hole-detail .hole-head h2 .fz01{
	font-size: 32px;
}
#main .hole-detail .hole-head h2 .fz02{
	display:inline-block;
	margin:0 24px 0 0;
	padding:0 24px 0 0;
	font-size: 64px;
	border-right:solid 1px #000;
}
#main .hole-detail .hole-head h2 .fz03{
	font-size: 30px;
}

#main .hole-detail .hole-head p{
	font-size:26px;
	font-weight: bold;
	position:absolute;
	top:25px;
	right:0;
}

#main .hole-detail .table-wrap{
	width:613px;
	float:left;
	margin:0 0 30px;
}
#main .hole-detail table{
	width:100%;
}
#main .hole-detail table caption{
	padding:6px 0;
	background:#5b8b27;
	color:#fff;
	font-size:150%;
	font-weight: bold;
	text-align:center;
}
#main .hole-detail table tr:nth-child(1) th{
	padding:5px 0;
	font-weight: bold;
	font-size:100%;
	width:17.2%;
}
#main .hole-detail table tr:nth-child(1) th:nth-child(1){width:14%;}
#main .hole-detail table tr:nth-child(1) th:nth-child(2){ padding:8px 0 5px}
#main .hole-detail table th{
	padding:10px 0;
	background:#f4f4f4;
	border:solid 1px #d7d7d7;
	font-size:125%;
	line-height:1.1;
	text-align:center;
}
#main .hole-detail table td{
	border:solid 1px #d7d7d7;
	background:#fff;
	text-align:center;
	font-size:125%;
}


#main .hole-detail .fig{
	border:solid 1px #c6c6c6;
	float:right;
}

#main .hole-detail .img-wrap{
	width:612px;
	float:left;
	margin:0 0 50px;
}
#main .hole-detail .img-wrap .img-list li{
	float:left;
}
#main .hole-detail .img-wrap .img-list li + li{
	float:right;
}
#main .hole-detail .img-wrap p{
	padding:13px 0 0;
	font-size:134%;
}

#main .hole-detail .btn-pager{
	clear:both;
	height:50px;
	position:relative;
}
#main .hole-detail .btn-pager li{
	width:210px;
	text-align:center;
	top:0;
}
#main .hole-detail .btn-pager .back{
	margin:0 auto;
}
#main .hole-detail .btn-pager a{
	display:block;
	height:50px;
	line-height:2.8;
	position:relative;
}
#main .hole-detail .btn-pager .prev{position:absolute; left:0;}
#main .hole-detail .btn-pager .next{position:absolute; right:0;}

#main .hole-detail .btn-pager .prev a:before,
#main .hole-detail .btn-pager .next a:before{
	content:"";
	display:block;
	width:20px;
	height:10px;
	background:url(../img/common/ico.png) no-repeat 0 -44px;
	background-size:110px auto;
	position:absolute;
	top:50%;
	margin:-5px 0 0;
}
#main .hole-detail .btn-pager .prev a:before{
	left:13px;
}
#main .hole-detail .btn-pager .next a:before{
	background-position:0 -55px;
	right:13px;
}

#main .hole-detail .btn-pager .prev a,
#main .hole-detail .btn-pager .next a{
	color:#007c36;
	border:solid 1px #007c36;
	font-size:150%;
}

#main .hole-detail .btn-pager .prev a:hover,
#main .hole-detail .btn-pager .next a:hover{
	background:rgba(0, 124, 54, 0.1);
}

#main .hole-detail .btn-pager .back a{
	border:solid 1px #010101;
	font-size:117%;
	font-weight: bold;
	line-height:3.5;
}
#main .hole-detail .btn-pager .back a:hover{
	background:rgba(0,0,0,0.1);
}

#main .nav{
	width:100%;
	position:absolute;
	top:50%;
	left:0;
}
#main .nav li{
}
#main .nav .next{
	position:absolute;
	top:0;
	right:0;
}
#main .nav li a{
	width:75px;
	display:block;
	color:#fff;
	text-align:center;
}
#main .nav li a:after{
	content:"";
	display:block;
	width:20px;
	height:10px;
	background:url(../img/common/ico.png) no-repeat 0 -11px;
	background-size:110px auto;
	margin:0 auto;
}
#main .nav .prev a:after{
	background-position:0 -33px;
}
#main .nav .prev a{
	border-left:solid 1px #fff;
}
#main .nav .next a{
	border-right:solid 1px #fff;
}
#main .nav a span:first-child{
	font-size:100%;
}
#main .nav a span:first-child + span{
	font-size:22px;
}



/* ==========================================================================
   smartPhone
   ========================================================================== */
@media screen and (max-width: 640px){

	/* =============================

		overwrite

	=============================== */
	#pageHeader .pankuzu{
		padding:7px 0;
	}
	
	/*
	#main {
		padding:0 0 110px;
	}
	*/
	.s-hole01 #main,.s-hole02 #main,.s-hole03 #main,
	.s-hole04 #main,.s-hole05 #main,.s-hole06 #main,
	.s-hole07 #main,.s-hole08 #main,.s-hole09 #main,
	.h-hole01 #main,.h-hole02 #main,.h-hole03 #main,
	.h-hole04 #main,.h-hole05 #main,.h-hole06 #main,
	.h-hole07 #main,.h-hole08 #main,.h-hole09 #main{
		padding:0 0 110px !important;
	}

	#content .pagination {
		margin:0;
		position: relative;
	}
	#content .pagination li{
		margin:-80px 0 0;
	}
	#content .pagination a:before{
		background-position:0 -10px;
	}
	#content .pagination .btn-prev a:before{
		background-position:0 -30px;
	}
	
	#content .pagination a:hover{
		background:transparent;
	}
	
	
	/* =================================== */
	#main .sec-inner{
		padding:30px 10px 0;
		position:relative;
	}
	#main .hole-detail{
		width:100%;
		margin:0 auto;
		padding:30px 10px;
		background:rgba(255,255,255,0.95);
		box-sizing:border-box;
	}
	
	#main .hole-detail .hole-head h2{
		margin:0 0 20px;
		padding:0 0 10px;
		border-bottom:solid 1px #000;
		line-height:0.8;
		letter-spacing:0;
	}
	
	#main .hole-detail .hole-head h2 .fz01{
		font-size: 12px;
	}
	#main .hole-detail .hole-head h2 .fz02{
		display:inline-block;
		margin:0 10px 0 0;
		padding:0 10px 0 0;
		font-size: 26px;
		border-right:solid 1px #000;
	}
	#main .hole-detail .hole-head h2 .fz03{
		font-size: 18px;
	}
	
	#main .hole-detail .hole-head p{
		margin:0 0 5px;
		font-size:16px;
		position:static;
	}
	
	#main .hole-detail .table-wrap {
		overflow-x: scroll;
		width: 100%;
		float:none;
	}
	#main .hole-detail .table-wrap::-webkit-scrollbar{
		height: 5px;
	}
	#main .hole-detail .table-wrap::-webkit-scrollbar-track{
		background: #F1F1F1;
	}
	#main .hole-detail .table-wrap::-webkit-scrollbar-thumb {
		background: #BCBCBC;
	}
	#main .hole-detail table{
		width:100%;
		float:none;
	}
	#main .hole-detail table caption{
		font-size:134%;
	}
	#main .hole-detail table tr:nth-child(1) th{
		font-size:8px;
	}
	#main .hole-detail table th{
		font-size:75%;
		letter-spacing:-0.05em;
	}
	#main .hole-detail table td{
		font-size:84%;
	}
	
	
	#main .hole-detail .fig{
		float:none;
		margin:0 0 20px;
	}
	
	#main .hole-detail .img-wrap{
		width:100%;
		float:none;
		margin:0 0 30px;
	}
	#main .hole-detail .img-wrap .img-list li{
		width:49%;
	}
	#main .hole-detail .img-wrap p{
		padding:13px 0 0;
		font-size:100%;
	}
	
	#main .hole-detail .btn-pager{
		height:auto;
	}
	#main .hole-detail .btn-pager li{
		width:100%;
		margin:0 0 5px;
	}
	#main .hole-detail .btn-pager .back{
		margin:0 0 5px;
	}
	#main .hole-detail .btn-pager a{
		display:block;
		height:40px;
		line-height:2.6;
		position:relative;
	}
	#main .hole-detail .btn-pager .prev{position:static;}
	#main .hole-detail .btn-pager .next{position:static;}
	
	#main .hole-detail .btn-pager .prev a:before,
	#main .hole-detail .btn-pager .next a:before{
		width:18px;
		height:9px;
		background:url(../img/common/ico.png) no-repeat 0 -40px;
		background-size:100px auto;
		margin:-4px 0 0;
	}
	#main .hole-detail .btn-pager .prev a:before{
		left:13px;
	}
	#main .hole-detail .btn-pager .next a:before{
		background-position:0 -50px;
		right:13px;
	}
	
	#main .hole-detail .btn-pager .prev a,
	#main .hole-detail .btn-pager .next a{
		font-size:134%;
	}
	
	#main .hole-detail .btn-pager .prev a:hover,
	#main .hole-detail .btn-pager .next a:hover{
		background:#fff;
	}
	
	#main .hole-detail .btn-pager .back a{
		font-size:109%;
		line-height:3.5;
	}
	#main .hole-detail .btn-pager .back a:hover{
		background:#fff;
	}
	
	#main .nav{
		display:none;
	}
	
	
	
	
	
}
