@charset "utf-8";
/* ===================================================================

 file name  :index.css
 style info :トップページ

=================================================================== */

/* =============================

	overwrite

=============================== */
#main {
	padding:0;
}
/* =================================== */
#mv{
	position:relative;
}
#mv .txt-wrap{
	width:100%;
	position:absolute;
	top:18.4375%;
	z-index:100;
}

#mv .txt-wrap h2{
	width:37.34%;
	margin:0 auto 5%;
}
#mv .txt-wrap p{
	color:#fff;
	text-align:center;
	font-size:134%;
	line-height:2.5;
}

#mv img{
	width:100%;
	height:auto;
}

.ttl span:first-child{
	display:inline-block;
	margin:0 20px 0 0;
	padding:0 20px 0 0;
	border-right:solid 1px #bfbfbf;
	font-size:137%;
	font-weight: normal;
}
.ttl span:first-child + span{
	font-size:117%;
	font-weight: normal;
}
#main .info-wrap{
	background:url(../img/home/bg_texture.jpg) no-repeat;
	background-size:cover;
}
#news{
	width:50%;
	float:left;
	background:#fff;
	min-height:330px;
}

#news .news-ttl{
	padding:26px 0 26px 25px;
	background:#f8f8f8;
	border-bottom:solid 1px #eaeaea;
	position:relative;
}
#news .btn-list{
	width:159px;
	position:absolute;
	top:22px;
	right:20px;
}
#news .btn-list a{
	display:block;
	padding:0.4em 0;
	color:#172c6f;
	background:#fff;
	border:solid 1px #eaeaea;
	text-align:center;
	font-size:125%;
}
#news .btn-list a:hover{
	background:#172c6f;
	color:#fff;
}

#news #feed{
	overflow:hidden;
	position: relative;
}
#news #feed .info-loader {
	position: absolute;
	left: 0;
	top: 40%;
	width: 100%;
	text-align: center;
}
#news #feed dt{
	float:left;
	padding:1.6em 0 0 25px;
	color:#192d6f;
	font-style: italic;
	font-family: 'Libre Baskerville', serif;
	font-size:117%;
	position:relative;
	z-index:10;
}
#news #feed dd{
	padding:1.5em 140px 1.5em 150px;
	font-size:117%;
	position:relative;
}
#news #feed dd span{
	display:block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#news #feed dd:nth-of-type(even){
	background:#f8f8f8;
}
#news #feed dd .more{
	display:block;
	padding:0.7em 0;
	text-align:center;
	font-size:16px;
	color:#192d6f;
	position:absolute;
	top:0.4em;
	right:34px;
	text-decoration:underline;
	font-family: 'EB Garamond', serif;
	font-style: italic;
}
#news #feed dd .more:hover{
	text-decoration:none;
}

#reg{
	padding:40px 0 0 2.8%;
	width:50%;
	float:right;
	box-sizing:border-box;
	color:#fff;
}
#reg .ttl{
	margin:0 0 40px;
}
#reg .info-block{
	max-width:640px;
	margin:0 0 30px;
	padding:24px 30px 34px;
	background:#1f3c88;
	box-sizing:border-box;
}
#reg .info-block li{
	width:50%;
	float:left;
}
#reg .info-block li + li{
	width:230px;
	float:right;
}
#reg .info-block li dt{
	font-size:117%;
	margin:0 0 5px;
}
#reg .info-block li + li dt{
	margin:0 0 18px;
}
#reg p{
	font-size:117%;
}
@media screen and (max-width: 1580px){
	#reg{
		padding:40px 20px 0 20px;
	}
	#reg .info-block{
		padding:24px 15px 34px;
		background:#1f3c88;
	}
	#reg .info-block li{
		width:50%;
	}
	#reg .info-block li + li{
		width:230px;
		float:right;
	}
}


#main .btn-wrap ul li{
	width:33.33333333%;
	float:left;
	background:#fff;
}
#main .btn-wrap ul li a{
	display:block;
	position:relative;
	overflow:hidden;
}
#main .btn-wrap ul li a:before{
	content:"";
	display:block;
	width:1px;
	padding:10% 0 0;
	background:#b3b6c0;
	position:absolute;
	left:0;
	right:0;
	margin:0 auto;
	z-index:10;
}
#main .btn-wrap ul li a:after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0, 0, 0, 0.5);
	-webkit-transition:all ease 0.3s;
	-moz-transition:all ease 0.3s;
	transition:all ease 0.3s;
	opacity:0;
}
#main .btn-wrap ul li a:hover:after{
	margin:15px;
	opacity:1;
}

#main .btn-wrap ul li a h3{
	position:absolute;
	top:10%;
	z-index:10;
}
#main .btn-wrap ul li a:hover figure img{
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
	opacity:0.8;
}
#main .btn-wrap ul li img{
	width:100%;
	height:auto;
	-webkit-transition:all ease 0.3s;
	-moz-transition:all ease 0.3s;
	transition:all ease 0.3s;
}


#access{
	padding:206px 0 0;
	background:url(../img/home/bg_texture.jpg);
	background-size:100% auto;
	position:relative;
}
#access:before{
	content:"";
	display:block;
	width:493px;
	height:18px;
	background:url(../img/home/txt_catch.png) no-repeat;
	background-size:100% auto;
	position:absolute;
	top:15px;
	right:23px;
}
#access .access-inner{
	padding:46px 56px 50px;
	background:#fff;
	box-sizing:border-box;
	position:absolute;
	top:106px;
	left:0;
	right:0;
	z-index:100;
	margin:0 auto;
}
#access .access-inner h3{
	margin:0 0 34px;
	font-size: 117%;
	font-weight:normal;
	text-align:center;
	line-height:1.3;
	position:relative;
}

#access .access-inner h3 span{
	display:block;
	font-size: 42px;
}
#access .access-inner h3:before{
	content:"";
	display:block;
	width:1px;
	height:50px;
	background:#dbdbdb;
	position:absolute;
	top:-70px;
	left:0;
	right:0;
	margin:0 auto;
}
#access .access-inner .btn-eft{
	width:209px;
	position:absolute;
	top:60px;
	right:56px;
}
#access .access-inner .btn-eft a{
	font-weight: normal;
}
#access .access-inner h4{
	margin:0 0 34px;
	padding:0 0 10px;
	font-size:150%;
	border-bottom:solid 1px #d9d9d9;
}
#access .access-inner ul,
#access .access-inner dl{
	width:490px;
	float:left;
}
#access .access-inner ul li{
	font-size:117%;
	line-height:2.5;
}
#access .access-inner li a{
	color:#333;
}
#access .access-inner dl dt{
	margin:0 0 15px;
	font-size:134%;
	font-weight: bold;
	color:#192d6f;
}
#access .access-inner dl dd{
	font-size:117%;
}
#access .access-inner dl dd:before{
	content:"↓";
	display:block;
	margin:0 0 0 140px;
}
#access .access-inner dl dt:first-child + dd:before{
	content:none;
}


#gmap{
	height:831px;
}


#group{
	padding:75px 0;
}
#group .group-link{
	margin:0 -16px 0 0;
}
#group .group-link li{
	width:356px;
	float:left;
	margin:0 16px 36px 0;
	text-align:center;
}
#group .group-link li a{
	display:block;
	height:63px;
	padding:8px 0 0;
	background:#fff;
	box-sizing:border-box;
	border:solid 1px #efefef;
}












/* ==========================================================================
   smartPhone
   ========================================================================== */
@media screen and (max-width: 640px){

	/* =============================

		overwrite

	=============================== */




	/* =================================== */
	#mv{
	}
	#mv .txt-wrap{
		width:100%;
		top:16.6666666666%;
	}

	#mv .txt-wrap h2{
		width:100%;
		margin:0 auto 17%;
		padding:0 15px;
		box-sizing: border-box;
	}
	#mv .txt-wrap p{
		font-size:84%;
	}
	#mv figure{
		margin:0 -93.2%;
	}

	.ttl span:first-child{
		margin:0 15px 0 0;
		padding:0 15px 0 0;
		font-size:124%;
	}
	.ttl span:first-child + span{
		font-size:84%;
	}
	#main .info-wrap{
		background:url(../img/home/bg_texture.jpg) no-repeat;
		background-size:cover;
	}
	#news{
		width:100%;
		float:none;
		min-height:auto;
	}

	#news .news-ttl{
		background:#fff;
		padding:12px 0 12px 10px;
	}
	#news .btn-list{
		width:89px;
		top:12px;
		right:10px;
	}
	#news .btn-list a{
		display:block;
		padding:0.4em 0;
		font-size:84%;
	}

	#news #feed{
		overflow:hidden;
		position: relative;
	}
	#news #feed .info-loader img {
		width: 40px;
		height: 40px;
	}
	#news #feed dt{
		float:none;
		padding:1em 0 0 10px;
		font-size:84%;
	}
	#news #feed dd{
		padding:0.5em 10px 1em;
		font-size:92%;
	}
	#news #feed dt:nth-of-type(odd),
	#news #feed dd:nth-of-type(odd){
		background:#f8f8f8;
	}
	#news #feed dd:nth-of-type(even){
		background:#fff;
	}
	#news #feed dd .more{
		display:none;
	}


	#reg{
		padding:23px 10px;
		width:100%;
		float:none;
	}
	#reg .ttl{
		margin:0 0 17px;
	}
	#reg .info-block{
		max-width:100%;
		margin:0;
		padding:0;
		background:none;
	}
	#reg .info-block li{
		width:auto;
		float:none;
	}
	#reg .info-block li:first-child{
		margin:0 0 15px;
		padding:17px 25px 25px;
		background: #1f3c88;
	}
	#reg .info-block li + li{
		width:auto;
		padding:17px 25px 25px;
		float:none;
	}
	#reg .info-block li + li dd{
		width:183px;
		margin:0 auto;
	}
	#reg .info-block li dt{
		font-size:84%;
		margin:0 0 5px;
	}
	#reg .info-block li + li dt{
		margin:0 0 5px;
	}
	#reg p{
		font-size:84%;
	}



	#main .btn-wrap ul li{
		width:100%;
		float:none;
		border-bottom:solid 1px #f4f4f4;
	}
	#main .btn-wrap ul li:first-child{
		border-top:solid 1px #f4f4f4;
	}
	#main .btn-wrap ul li a:before{
		content:none;
	}
	#main .btn-wrap ul li a:after{
		content:none;
	}
	#main .btn-wrap ul li a h3{
		position:relative;
		top:0;
		left:0;
	}
	#main .btn-wrap ul li a figure{
		position:absolute;
		top:0;
	}
	#main .btn-wrap ul li a:hover figure img{
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity:1;
	}
	#main .btn-wrap ul li:nth-child(1) a figure{ margin-top:-5%;}
	#main .btn-wrap ul li:nth-child(2) a figure{ margin-top:-8%;}
	#main .btn-wrap ul li:nth-child(3) a figure{ margin-top:-10%;}
	#main .btn-wrap ul li:nth-child(4) a figure{ margin-top:-8%;}
	#main .btn-wrap ul li:nth-child(5) a figure{ margin-top:-10%;}
	#main .btn-wrap ul li:nth-child(6) a figure{ margin-top:-10%;}


	#access{
		padding:60px 0 0;
		background:url(../img/home/bg_texture.jpg);
		background-size:100% auto;
		position:relative;
	}
	#access:before{
		width:252px;
		height:9px;
		background-size:100% auto;
		position:absolute;
		top:15px;
		left:0;
		right:0;
		margin:0 auto;
	}
	#access .access-inner{
		padding:19px 10px 30px;
		position:static;
	}
	#access .access-inner h3{
		margin:0 0 30px;
		font-size: 84%;
		line-height:1.2;
	}

	#access .access-inner h3 span{
		display:block;
		font-size: 25px;
	}
	#access .access-inner h3:before{
		width:1px;
		height:25px;
		top:-30px;
	}
	#access .access-inner .btn-eft{
		width:100%;
		margin:25px 0 0;
		padding:0 25px;
		position:static;
		box-sizing:border-box;
	}
	#access .access-inner h4{
		margin:0 0 22px;
		padding:0 0 5px;
		font-size:109%;
	}
	#access .access-inner ul,
	#access .access-inner dl{
		width:100%;
		float:none;
	}
	#access .access-inner ul li{
		font-size:84%;
		line-height:2.5;
	}
	#access .access-inner dl{

	}
	#access .access-inner dl dt{
		margin:20px 0 15px;
		font-size:100%;
	}
	#access .access-inner dl dd{
		font-size:84%;
	}
	#access .access-inner dl dd:before{
		content:"↓";
		display:block;
		margin:0 0 0 100px;
	}
	#access .access-inner dl dt:first-child + dd:before{
		content:none;
	}


	#gmap{
		height:313px;
	}







	#group{
		padding:30px 0 38px;
	}
	#group .group-link{
		margin:0;
		padding:0 10px;
	}
	#group .group-link li{
		width:49%;
		float:left;
		margin:0 0 6px;
	}
	#group .group-link li:nth-child(odd){
		clear:both;
	}
	#group .group-link li:nth-child(even){
		float:right;
	}
	#group .group-link li a{
		height:auto;
		padding:8px 5.4%;
	}















}
