@charset "utf-8";
/* ===================================================================

 file name  :info.css
 style info :インフォメーションページ

=================================================================== */

/* =============================

	overwrite

=============================== */
#pageHeader {
	margin: 0 0 95px;
}



/* =================================== */
#main .sec-inner{
	position:relative;
}

/* 一覧ページ */
#main #feed{
	overflow:hidden;
	position: relative;
}
#main #feed dt{
	float:left;
	padding:1.6em 0 0 25px;
	color:#192d6f;
	font-style: italic;
	font-family: 'Libre Baskerville', serif;
	font-size:117%;
	position:relative;
	z-index:10;
}
#main #feed dd{
	padding:1.5em 140px 1.5em 150px;
	font-size:117%;
	position:relative;
}
#main #feed dd span{
	display:block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#main #feed dd:nth-of-type(odd){
	background:#f8f8f8;
}
#main #feed dd .more{
	display:block;
	padding:0.7em 0;
	text-align:center;
	font-size:16px;
	color:#192d6f;
	position:absolute;
	top:0.4em;
	right:34px;
	text-decoration:underline;
	font-family: 'EB Garamond', serif;
	font-style: italic;
}
#main #feed dd .more:hover{
	text-decoration:none;
}


#main .pagenation{
	margin:95px 0 0;
}
#main .pagenation ul {
	text-align:center;
}
#main .pagenation ul li{
	display:inline-block;
	height:40px;
	font-size:134%;
	line-height:2.5;
}
#main .pagenation ul .prev,
#main .pagenation ul .next{
	width:81px;
}
#main .pagenation ul li a,
#main .pagenation ul li.current span{
	display:block;
	padding:0 1em;
	height:40px;
	color:#192d6f;
	border:solid 1px #d7dce1;
}
#main .pagenation ul li a:hover,
#main .pagenation ul li.current span{
	background:#192d6f;
	border:solid 1px #192d6f;
	color:#fff;
}

#main .pagenation ul li a:hover{
}






/* 詳細ページ */
#main .btn-top{
	width:280px;
	position:absolute;
	top:-93px;
	right:0;
}

#date{
	padding:65px 0 0;
	width:250px;
	float:left;
	border-top:solid 1px #c3c3c3;
}
#date p{
	font-size: 167%;
	color:#192d6f;
}
#post{
	padding:65px 0 0;
	width:800px;
	float:right;
	border-top:solid 1px #c3c3c3;
}
#post h2{
	margin:0 0 2em;
	font-size:184%;
}
#post p:not(.btn-eft){
	margin:0 0 2em;
	font-size:125%;
	line-height:2.4;
}
#post .btn-eft{
	width:280px;
	margin:90px 0 0 auto;
}

#post figure img {
	max-width: 800px;
	height: auto;
}



/* ==========================================================================
   smartPhone
   ========================================================================== */
@media screen and (max-width: 640px){

	/* =============================

		overwrite

	=============================== */
	#pageHeader {
		margin: 0 0 30px;
	}

	#main{
		padding:0;
	}

	/* =================================== */
	#main .sec-inner{
		position:relative;
	}

	/* 一覧ページ */
	#main #feed{
		overflow:hidden;
		position: relative;
	}
	#main #feed dt:nth-of-type(odd){
		background:#f8f8f8;
	}
	#main #feed dt{
		float:none;
		padding:1em 0 0 10px;
		font-size:84%;
	}
	#main #feed dd{
		padding:0.5em 10px 1em;
		font-size:92%;
	}
	#main #feed dd:nth-of-type(even){
		background:#fff;
	}
	#main #feed dd .more{
		display:none;
	}

	#main .pagenation{
		margin:50px 0;
	}
	#main .pagenation ul li{
		font-size:84%;
		line-height:2.6;
	}
	#main .pagenation ul .prev,
	#main .pagenation ul .next{
		width:60px;
	}
	#main .pagenation ul li a,
	#main .pagenation ul li.current span{
		display:block;
		padding:0 0.5em;
		height:25px;
	}



	/* 詳細ページ */
	#main .btn-top{
		width:100%;
		margin:0 0 30px;
		position:static;
	}
	.detail #main{
		padding:0 10px 30px;
	}


	#date{
		padding:10px 0;
		width:100%;
		float:none;
	}
	#date p{
		font-size: 117%;
	}
	#post{
		padding:10px 0 0;
		width:100%;
		float:none;
		border-top:none;
	}
	#post h2{
		font-size:125%;
	}
	#post p:not(.btn-eft){
		font-size:100%;
		line-height:1.8;
	}
	#post .btn-eft{
		width:100%;
		margin:50px 0 30px;
	}
	
	#post figure img {
		max-width: 100%;
	}

}
