@charset "utf-8";
/* ===================================================================

 file name  :point.css
 style info :ポイントカード

=================================================================== */

/* =============================

	overwrite

=============================== */


/* =================================== */

#main .card{
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}
#main .card .card-img{
	margin-top: 52px;
}
#main .card .card-catch{
	width: 418px;
	text-align: center;
	line-height: 0;
}
#main .card .card-catch .txt01{
	margin-bottom: 18px;
}
#main .card .card-catch .txt02{
	margin-bottom: 19px;
}
#main .card .card-catch .txt03{
	display: flex;
	justify-content: space-between;
}
#main .card .card-txt{
	width: 394px;
	margin-top: 28px;
}
#main .card .card-txt .txt{
	position: relative;
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	letter-spacing: -.05em;
	line-height: 1.8;
}
#main .card .card-txt .txt:before{
	content: "";
	position: absolute;
	top: -68px;
	right: 46px;
	width: 98px;
	height: 98px;
	background: url(../img/point/ico_baloon.png) no-repeat;
}
#main .card .card-txt .txt .color{
	color: #c00e0e;
}
#main .card .card-txt .for{
	padding: 18px 20px;
	background: #f4f4f4;
	font-size: 14px;
	line-height: 1.85;
}
@media all and (-ms-high-contrast:none){
  *::-ms-backdrop, #main .card .card-txt .for{
		padding: 20px 20px 14px 20px;
	}
}

/* */
#main .exchange .ttl{
	margin-bottom: 15px;
	font-size: 20px;
}
#main .exchange .tickets{
	width: 100%;
	margin-bottom: 18px;
	font-size: 15px;
}
#main .exchange .tickets th{
	width: 675px;
	padding: 28px 45px;
	border: 1px solid #d7d7d7;
	background: #f4f4f4;
	box-sizing: border-box;
}
#main .exchange .tickets td{
	padding: 28px 20px 28px 42px;
	border: 1px solid #d7d7d7;
	font-weight: bold;
}
@media all and (-ms-high-contrast:none){
  *::-ms-backdrop, #main .exchange .tickets th{
		padding: 28px 45px 22px 45px;
	}
  *::-ms-backdrop, #main .exchange .tickets td{
		padding: 28px 20px 22px 42px;
	}
}
#main .exchange .caption{
	font-size: 14px;
	letter-spacing: -.02em;
	line-height: 1.85;
}


/* ==========================================================================
   smartPhone
   ========================================================================== */
@media screen and (max-width: 640px){

	/* =============================

		overwrite

	=============================== */
	
	
	
	/* =================================== */

	#main .card{
		display: block;
		margin-bottom: 40px;
	}
	#main .card .card-img{
		width: 50%;
		margin: 0 auto 20px auto;
	}
	#main .card .card-catch{
		width: auto;
	}
	#main .card .card-catch .txt01{
		width: 80%;
		margin: 0 auto 18px auto;
	}
	#main .card .card-catch .txt02{
		width: 80%;
		margin: 0 auto 19px auto;
	}
	#main .card .card-catch .txt03{
		width: 80%;
		margin: 0 auto;
	}
	#main .card .card-catch .txt03 li{
		width: 48%;
	}
	#main .card .card-txt{
		width: auto;
		margin-top: 28px;
	}
	#main .card .card-txt .txt{
		font-size: 14px;
	}
	#main .card .card-txt .txt:before{
		top: -10px;
		right: inherit;
		left: 245px;
		width: 49px;
		height: 49px;
		background: url(../img/point/ico_baloon.png) no-repeat;
		background-size: 49px auto;
	}
	#main .card .card-txt .for{
		padding: 14px 15px;
		font-size: 12px;
		line-height: 1.6;
	}
	
	/* */
	#main .exchange .ttl{
		margin-bottom: 10px;
		font-size: 14px;
	}
	#main .exchange .tickets{
		margin-bottom: 18px;
		font-size: 12px;
	}
	#main .exchange .tickets th{
		width: 50%;
		padding: 14px 15px;
	}
	#main .exchange .tickets td{
		padding: 14px 15px;
	}
	#main .exchange .caption{
		font-size: 11px;
		line-height: 1.6;
	}
	#main .exchange .caption li{
		margin-bottom: 5px;
	}
}
