@charset "utf-8";
/* ===================================================================

 file name  :policy.css
 style info :サイトポリシー

=================================================================== */

/* =============================

	overwrite

=============================== */


/* =================================== */

#main .note{
	margin-bottom: 80px;
}
#main .note .ttl-color{
	margin-bottom: 1.2em;
	font-size: 16px;
	color: #0c286e;
}
#main .note h4{
	margin:0 0 0.5em;
	font-size:15px;
}
#main .note p{
	margin-bottom: 2.3em;
	font-size: 16px;
	line-height: 2;
	letter-spacing: -.03em;
}

#main .note ul,
#main .note ol,
#main .note dl{
	margin-bottom: 3em;
}
#main .note ul li,
#main .note ol li,
#main .note dl{
	font-size: 16px;
	line-height: 2.25;
}
#main .note .num-list{
	margin-left: 1.4em;
	font-size: 16px;
}
#main .note .num-list li{
	list-style-type: decimal;
}
#main .note .alpha-list{
	margin-left: 1.8em;
}

#main .note a{
	text-decoration: underline;
}
#main .note a:hover{
	text-decoration: none;
}


/* ==========================================================================
   smartPhone
   ========================================================================== */
@media screen and (max-width: 640px){

	/* =============================

		overwrite

	=============================== */
	
	
	
	/* =================================== */

	#main .note{
		margin-bottom: 30px;
	}
	#main .note .ttl-color{
		margin-bottom: .8em;
		font-size: 13px;
	}
	#main .note h4{
		margin:0 0 0.5em;
		font-size:12px;
	}

	#main .note p{
		margin-bottom: 1.5em;
		font-size: 12px;
		line-height: 1.6;
	}
	
	#main .note ul,
	#main .note ol,
	#main .note dl{
		margin-bottom: 2em;
	}
	#main .note ul li,
	#main .note ol li,
	#main .note dl dt,
	#main .note dl dd{
		margin-bottom: .2em;
		font-size: 12px;
		line-height: 1.5;
	}
	
	#main .note a:hover{
		text-decoration: underline;
	}
}
