@charset "utf-8";
/* ===================================================================

 file name  :privacy.css
 style info :プライバシーポリシー

=================================================================== */

/* =============================

	overwrite

=============================== */


/* =================================== */

#main .note{
	margin-bottom: 80px;
}
#main .note.end{
	margin-bottom: 0;
}
#main .note .ttl-color{
	margin-bottom: 1.2em;
	font-size: 16px;
	color: #0c286e;
}
#main .note .gap-m{
	margin-top: -.5em;
}

#main .note p{
	margin-bottom: 2.3em;
	font-size: 16px;
	line-height: 2;
	letter-spacing: -.03em;
}
#main .note p.gap-s{
	margin-bottom: 1.5em;
}
#main .note p.end{
	margin-bottom: 1em;
}
#main .note p.sign{
	text-align: right;
}

#main .note ul,
#main .note ol{
	margin-bottom: 3em;
}
#main .note ul li,
#main .note ol li{
	font-size: 16px;
	line-height: 2.25;
}
#main .note .num-list{
	margin-left: 1.4em;
	font-size: 16px;
}
#main .note .num-list li{
	list-style-type: decimal;
}
#main .note .alpha-list{
	margin-left: 1.8em;
}
@media all and (-ms-high-contrast:none){
  *::-ms-backdrop, #main .note .alpha-list{
		margin-left: 2em;
	}
}
#main .note .alpha-list li{
	list-style-type: upper-alpha;
}
#main .note .notype-list{
	margin-left: 1.8em;
}
#main .note dl.ttl-list{
	margin-bottom: 3em;
	font-size: 16px;
}
#main .note dl.ttl-list dt{
	margin-bottom: .2em;
	line-height: 2;
}
#main .note dl.ttl-list dd{
	margin: 0 0 .2em 2em;
	line-height: 2;
	letter-spacing: -.05em;
}
#main .note dl.window{
	display: block;
	/*display: flex;
	align-items: center;*/
	margin-bottom: 2em;
	font-size: 16px;
}
#main .note dl.window dt{
	margin-right: 15px;
}
#main .note dl.window dd{
	margin: 1em 0 0 1em;
}

#main .note a{
	text-decoration: underline;
}
#main .note a:hover{
	text-decoration: none;
}


/* ==========================================================================
   smartPhone
   ========================================================================== */
@media screen and (max-width: 640px){

	/* =============================

		overwrite

	=============================== */
	
	
	
	/* =================================== */

	#main .note{
		margin-bottom: 30px;
	}
	#main .note .ttl-color{
		margin-bottom: .8em;
		font-size: 13px;
	}
	#main .note p{
		margin-bottom: 1.5em;
		font-size: 12px;
		line-height: 1.6;
	}
	#main .note p.gap-s{
		margin-bottom: 1.2em;
	}
	
	#main .note ul,
	#main .note ol{
		margin-bottom: 2em;
	}
	#main .note ul li,
	#main .note ol li{
		margin-bottom: .2em;
		font-size: 12px;
		line-height: 1.5;
	}
	#main .note .num-list{
		font-size: 12px;
	}
	#main .note .alpha-list{
		margin-left: 1.4em;
	}
	#main .note .notype-list{
		margin-left: 0;
	}
	#main .note dl.ttl-list{
		margin-bottom: 2em;
		font-size: 12px;
	}
	#main .note dl.ttl-list dt{
		line-height: 1.6;
	}
	#main .note dl.ttl-list dd{
		line-height: 1.6;
	}
	#main .note dl.window{
		display: block;
		font-size: 12px;
	}
	#main .note dl.window dd{
		margin: 0.3em 0 0 1em;
	}

	#main .note a:hover{
		text-decoration: underline;
	}
}
