@charset "utf-8";
/* ===================================================================

 file name  :regulation.css
 style info :ゴルフ場利用規約

=================================================================== */

/* =============================

	overwrite

=============================== */


/* =================================== */

#main .note{
	margin-bottom: 80px;
}
#main .note.end{
	margin-bottom: 0;
}
#main .note .ttl-color{
	margin-bottom: 1.2em;
	font-size: 16px;
	color: #0c286e;
}
#main .note .ttl-band{
	margin-bottom: 2.2em;
	padding: 10px 25px;
	background: #f3f3f3;
	font-size: 18px;
}
@media all and (-ms-high-contrast:none){
  *::-ms-backdrop, #main .note .ttl-band{
		padding: 16px 0 8px 25px;
	}
}
#main .note p{
	margin-bottom: 2.3em;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: -.03em;
}
#main .note p.gap-s{
	margin-bottom: 1.9em;
}
#main .note p.end{
	margin-bottom: 1em;
}
#main .note p.gap-b{
	margin-bottom: 3em;
}

/* ==========================================================================
   smartPhone
   ========================================================================== */
@media screen and (max-width: 640px){

	/* =============================

		overwrite

	=============================== */
	
	
	
	/* =================================== */

	#main .note{
		margin-bottom: 30px;
	}
	#main .note .ttl-color{
		margin-bottom: .8em;
		font-size: 13px;
	}
	#main .note .ttl-band{
		margin-bottom: 1.5em;
		padding: 8px 15px;
		font-size: 13px;
	}
	#main .note p{
		margin-bottom: 1.5em;
		font-size: 12px;
	}
	#main .note p.gap-s{
		margin-bottom: 1.2em;
	}
	#main .note p.gap-b{
		margin-bottom: 2em;
	}
}
