@charset "utf-8";
/* ===================================================================

 file name  :restaurant.css
 style info :レストラン

=================================================================== */

/* =============================

	overwrite

=============================== */

#main {
	padding-bottom: 35px;
}
#main h2{
	font-weight: normal;
}


/* =================================== */

/* nav */
#main .c-nav{
	margin-bottom: 133px;
}
#main .c-nav.end{
	margin-bottom: 0;
}
#main .c-nav ul{
	display: flex;
	justify-content: center;
	margin-right: -3px;
}
#main .c-nav ul li{
	width: 270px;
	margin-right: 3px;
	font-size: 18px;
	line-height: 1;
	text-align: center;
}
#main .c-nav ul li a{
	position: relative;
	display: block;
	padding: 15px 0;
	border: 1px solid #192d6f;
	background: #fff;
	transition: all .3s ease;
}
#main .c-nav ul li a:before{
	content: "";
	position: absolute;
	top: 50%;
	right: 15px;
	width: 6px;
	height: 6px;
	margin-top: -4px;
	border-top: 2px solid #0c286e;
	border-right: 2px solid #0c286e;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	transition: all .3s ease;
}
#main .c-nav.end ul li a:before{
	margin-top: -2px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#main .c-nav ul li a:hover{
	border: 1px solid #0c286e;
	background: #0c286e;
	color: #fff;
}
#main .c-nav ul li a:hover:before{
	border-top: 1.5px solid #fff;
	border-right: 1.5px solid #fff;
}
#main .c-link{
	display: block;
	height: 1px;
	margin-top: -55px;
	padding-top: 55px;
}

/* menu */
#main .menu-wrap{
	margin-bottom: 70px;
	padding-bottom: 130px;
	background: url(../img/facility/bg_wall.jpg) repeat 0 0;
}
#main .menu-unit{
	margin-bottom: 80px;
}
#main .menu-photo{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 50px;
}
#main .menu-photo li{
	margin-bottom: 26px;
}
#main .menu-photo figcaption{
	margin-top: 18px;
	font-size: 15px;
	color: #fff;
	text-align: center;
}
#main .menu-photo figcaption span{
	margin-top: 3px;
	display: block;
	font-weight: bold;
}
#main .menu-txt{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#main .menu-txt li{
	display: flex;
	justify-content: space-between;
	width: 520px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(234,234,234,.15);
	font-size: 15px;
	color: #fff;
	line-height: 1;
}
@media all and (-ms-high-contrast:none){
  *::-ms-backdrop, #main .menu-txt li {
		padding-bottom: 15px;
	}
}
#main .menu-txt li .price{
	font-weight: bold;
}

#main .party{
	color: #fff;
}
#main .party-list{
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}
#main .party-list li{
	width: 350px;
}
#main .party-list li .ttl{
	margin-bottom: 25px;
	padding: 9px 15px;
	background: #695722;
	font-size: 18px;
	font-weight: bold;
}
@media all and (-ms-high-contrast:none){
  *::-ms-backdrop, #main .party-list li .ttl{
		padding: 12px 15px 6px 15px;
	}
}
#main .party-list li .party-menu{
	margin-left: .3em;
	font-size: 15px;
}
#main .party-list li .party-menu li{
	margin-bottom: 18px;
	line-height: 1.73;
}
#main .party-caption{
	margin-bottom: 70px;
	font-size: 15px;
	line-height: 1.73;
}

#main .shef{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 35px 35px 35px 0;
	border: 1px solid rgba(255,255,255,.3);
}
#main .shef .ttl{
	width: 230px;
	font-size: 20px;
	text-align: center;
}
#main .shef .profile{
	width: calc(100% - 270px);
	padding-left: 40px;
	border-left: 1px solid rgba(255,255,255,.3);
}
#main .shef .profile dt{
	margin-bottom: 1em;
	font-size: 20px;
}
#main .shef .profile dt span{
	margin-right: 15px;
	font-size: 18px;
}
#main .shef .profile dd{
	font-size: 15px;
	line-height: 1.73;
}

/* ==========================================================================
   smartPhone
   ========================================================================== */
@media screen and (max-width: 640px){

	/* =============================

		overwrite

	=============================== */
	
	#main {
		padding: 0 0 50px 0;
	}
	#pageHeader .pagehead-inner figure{
		/*margin:0 -20% 0 -160%;*/
		margin:0 -10% 0 -90%;

	}
	
	/* =================================== */

	/* nav */
	#main .c-nav{
		margin: 0 10px 36px 10px;
	}
	#main .c-nav ul{
		flex-wrap: wrap;
		margin-right: 0;
		border-right: 1px solid #192d6f;
		border-bottom: 1px solid #192d6f;
	}
	#main .c-nav ul li{
		width: calc(100% / 3);
		margin-right: 0;
		font-size: 13px;
	}
	#main .c-nav ul li a{
		padding: 15px 0 24px 0;
		border: none;
		border-top: 1px solid #192d6f;
		border-left: 1px solid #192d6f;
		transition: none;
	}
	#main .c-nav ul li a:before{
		top: inherit;
		right: inherit;
		bottom: 12px;
		left: 50%;
		height: 6px;
		margin: 0 0 0 -3px;
		border-top: 1px solid #0c286e;
		border-right: 1px solid #0c286e;
		transition: none;
	}
	#main .c-nav.end ul li a:before{
		bottom: 10px;
		margin: 0 0 0 -3px;
	}
	#main .c-nav ul li a:hover{
		border: none;
		border-top: 1px solid #192d6f;
		border-left: 1px solid #192d6f;
		background: #fff;
		color: #333;
	}
	#main .c-nav ul li a:hover:before{
		border-top: 1px solid #0c286e;
		border-right: 1px solid #0c286e;
	}
	#main .c-link{
		margin-top: 0;
		padding-top: 0;
	}

	/* menu */
	#main .menu-wrap{
		margin-bottom: 30px;
		padding: 30px 10px 50px 10px;
		background: url(../img/facility/bg_wall.jpg) repeat 0 0;
		background-size: 40px auto;
	}
	#main .menu-unit{
		margin-bottom: 40px;
	}
	#main .menu-photo{
		margin-bottom: 20px;
	}
	#main .menu-photo li{
		width: 48%;
		margin-bottom: 20px;
	}
	#main .menu-photo figcaption{
		margin-top: 10px;
		font-size: 11px;
	}
	#main .menu-photo figcaption span{
		margin-top: 0;
	}
	#main .menu-txt{
		display: block;
	}
	#main .menu-txt li{
		width: auto;
		margin-bottom: 14px;
		padding-bottom: 14px;
		font-size: 12px;
	}

	#main .party-list{
		display: block;
		margin-bottom: 20px;
	}
	#main .party-list li{
		width: auto;
		margin-bottom: 20px;
	}
	#main .party-list li .ttl{
		margin-bottom: 15px;
		padding: 8px 12px;
		font-size: 12px;
	}
	#main .party-list li .party-menu{
		font-size: 12px;
	}
	#main .party-list li .party-menu li{
		margin-bottom: 8px;
		line-height: 1.5;
	}
	#main .party-caption{
		margin-bottom: 30px;
		font-size: 11px;
		line-height: 1.5;
	}
	
	#main .shef{
		display: block;
		padding: 25px;
	}
	#main .shef .ttl{
		width: auto;
		padding-bottom: 15px;
		font-size: 14px;
	}
	#main .shef .profile{
		width: auto;
		padding: 20px 0 0 0;
		border-left: none;
		border-top: 1px solid rgba(255,255,255,.3);
	}
	#main .shef .profile dt{
		margin-bottom: 1em;
		font-size: 14px;
		text-align: center;
	}
	#main .shef .profile dt span{
		margin-right: 10px;
		font-size: 12px;
	}
	#main .shef .profile dd{
		font-size: 12px;
		line-height: 1.6;
	}
}
