@charset "utf-8";
/* ===================================================================

 file name  :sitemap.css
 style info :サイトマップページ

=================================================================== */

/* =============================

	overwrite

=============================== */




/* =================================== */
#main .sitemap-list{
	width:530px;
	float:left;
}
#main .sitemap-list + .sitemap-list{
	float:right;
}
#main .sitemap-list > li{
	margin:0 0 10px;
	overflow:hidden;
}
#main .sitemap-list > li > a{
	display:block;
	padding:0.8em 30px;
	background:#f3f3f3;
	font-size:117%;
}
#main .sitemap-list > li > a:hover{
	background:#0c286e;
	color:#fff;
}
#main .sitemap-list > li > a > span{
	margin:0 34px 0 0;
	font-size:20px;
}

#main .sitemap-list > li > dl{
	width:50%;
	float:left;
	margin:0 0 50px;
	padding:26px 0 0 27px;
	box-sizing:border-box;
	font-size:134%;
	color:#0c286e;
}
#main .sitemap-list > li > dl dt{
	margin:0 0 10px;
}
#main .sitemap-list > li > dl dd{
	padding:0 0 0 55px;
	line-height:1.8;
}
#main .sitemap-list > li > dl dd a{
	text-decoration:underline;
}
#main .sitemap-list > li > dl dd a:hover{
	text-decoration:none;
}




/* ==========================================================================
   smartPhone
   ========================================================================== */
@media screen and (max-width: 640px){

	/* =============================

		overwrite

	=============================== */




	/* =================================== */
	#main .sitemap-list{
		width:100%;
		float:none;
	}
	#main .sitemap-list + .sitemap-list{
		float:none;
	}
	#main .sitemap-list > li{
		margin:0 0 5px;
	}
	#main .sitemap-list > li > a{
		padding:0.5em 15px;
		font-size:92%;
	}
	#main .sitemap-list > li > a:hover{
		background:#f3f3f3;
		color:#333;
	}
	#main .sitemap-list > li > a > span{
		margin:0 25px 0 0;
		font-size:16px;
	}
	
	#main .sitemap-list > li > dl{
		margin:0 0 30px;
		padding:10px 0 0 15px;
	}
	#main .sitemap-list > li > dl dt{
		margin:0 0 10px;
		font-size:12px;
	}
	#main .sitemap-list > li > dl dd{
		padding:0 0 0 30px;
		line-height:2;
		font-size:11px;
	}

	
	
	
	
}
