@charset "utf-8";
/* ===================================================================
 style info :汎用クラス指定
=================================================================== */
.spHide{
}
.pcHide{
	display:none;
}
/* js連携 電話番号リンク無効 */
.tellink a{
	cursor:default;
}
/* js連携 画像差し替え */
.ccswitch{
	visibility:hidden;
}

/* googlefont */
.wf-Garamond{font-family: 'EB Garamond', serif;	letter-spacing: 1px;}
.wf-libre{font-family: 'Libre Baskerville', serif;font-weight: 400;	letter-spacing: 1px;}
.italic{font-style: italic;}
.fwb{font-weight: bold;}
.fs-normal{font-style: normal;}
.yumin{font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;}
.yugo{font-family: "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif; letter-spacing: 0;}

/* ---------------------------------------------------------------------------
	ophover
--------------------------------------------------------------------------- */
.ophover{
	-webkit-transition:opacity ease 0.3s;
	-moz-transition:opacity ease 0.3s;
	transition:opacity ease 0.3s;
}
.ophover:hover{
	opacity: 0.6 !important;
	-khtml-opacity: 0.6;
	-moz-opacity: 0.6;
}

/* ---------------------------------------------------------------------------
	btn-eft
--------------------------------------------------------------------------- */
.btn-eft a{
	display:block;
	padding:12px 0;
	border:solid 1px #192d6f;
	font-size:134%;
	text-align:center;
	font-family: "EB Garamond","游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
	font-weight: bold;
	color:#192d6f;
	position:relative;
}
.btn-eft a:hover{
	background:rgba(18, 43, 110, 0.1);
}
.btn-eft a:before{
	content:"";
	display:block;
	width:20px;
	height:10px;
	background:url(../img/common/ico.png) no-repeat 0 0;
	background-size:110px auto;
	position:absolute;
	top:50%;
	right:13px;
	margin:-5px 0 0;
}

/* ---------------------------------------------------------------------------
	btn-w白
--------------------------------------------------------------------------- */
.btn-eft.btn-w a{
	background:#fff
}
.btn-eft.btn-w a:hover{
	background:rgba(255,255,255,0.7);
}






/* ---------------------------------------------------------------------------
	タイトル01
--------------------------------------------------------------------------- */
.ttl01{
	width:100%;
	margin:0 0 30px;
	text-align:center;
	line-height:1.4;
	font-weight: normal;
}
.ttl01:before{
	content:"";
	display:block;
	margin:0 auto 10px;
	width:50px;
	height:1px;
	background:#c3c3c3;
}
.ttl01 span{
	display:block;
	font-size:42px;
}
.ttl01 span + span{
	display:block;
	font-size:14px;
}


/* ---------------------------------------------------------------------------
	タイトル02
--------------------------------------------------------------------------- */
.ttl02{
	width:100%;
	margin:0 0 54px;
	padding:0 0 15px;
	font-size:167%;
	border-bottom:solid 1px #000;
	position:relative;
	font-weight: normal;
}
.ttl02:before{
	content:"";
	display:block;
	width:143px;
	height:4px;
	background:#0c286e;
	position:absolute;
	bottom:-1px;
}

/* ---------------------------------------------------------------------------
	タイトル02 バック黒
--------------------------------------------------------------------------- */
.ttl02.ttl-br{
	color:#fff;
	border-bottom:solid 1px #8a8a8a;
}
.ttl02.ttl-br:before{
	background:#695722;
}





/*--------------------------
	sc-fade
----------------------------*/
.sc-fade{
	transform: translate3d(0,0,0);
	visibility:hidden;
	transition:transform ease .6s;
}
.sc-fade.sc-show{
}
/*--------------------------
	sc-fade-slideup
----------------------------*/
.sc-fade-slideup{
	transform: translate3d(0,0,0);
	visibility:hidden;
	-webkit-transform:translateY(100px);
	-moz-transform:translateY(100px);
	transform:translateY(100px);
	transition:transform ease .6s;
}
.sc-fade-slideup.sc-show{
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	transform:translateY(0px);
}
/*--------------------------
	sc-fade-slideleft
----------------------------*/
.sc-fade-slideleft{
	transform: translate3d(0,0,0);
	visibility:hidden;
	-webkit-transform:translateX(100px);
	-moz-transform:translateX(100px);
	transform:translateX(100px);
	transition:transform ease .6s;
}
.sc-fade-slideleft.sc-show{
	transform: translate3d(0,0,0);
	-webkit-transform:translateX(0px);
	-moz-transform:translateX(0px);
	transform:translateX(0px);
}
/*--------------------------
	sc-fade-slideright
----------------------------*/
.sc-fade-slideright{
	transform: translate3d(0,0,0);
	visibility:hidden;
	-webkit-transform:translateX(-100px);
	-moz-transform:translateX(-100px);
	transform:translateX(-100px);
	transition:transform ease .6s;
}
.sc-fade-slideright.sc-show{
	-webkit-transform:translateX(0px);
	-moz-transform:translateX(0px);
	transform:translateX(0px);
}

/*--------------------------
	sc-fade-zoom
----------------------------*/
.sc-fade-zoom{
	transform: translate3d(0,0,0);
	visibility:hidden;
	-webkit-transform:scale(0.5);
	-moz-transform:scale(0.5);
	transform:scale(0.5);
	transition:transform ease .6s;
}
.sc-fade-zoom.sc-show{
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	transform:scale(1);
}

/*--------------------------
	.sc-fade-box
----------------------------*/
.sc-fade-box .sc-target{
	visibility:hidden;
	opacity:0;
}
.sc-fade-box.show .sc-target{
	opacity:1;
}

/*--------------------------
	.sc-zoom-box
----------------------------*/
.sc-zoom-box .sc-target{
	transform: translate3d(0,0,0);
	visibility:hidden;
	opacity:0;
	-webkit-transform:scale(0.5);
	-moz-transform:scale(0.5);
	transform:scale(0.5);
}
.sc-zoom-box.show .sc-target{
	opacity:1;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	transform:scale(1);
}

/*--------------------------
	.sc-slideup-box
----------------------------*/
.sc-slideup-box .sc-target{
	transform: translate3d(0,0,0);
	visibility:hidden;
	opacity:0;
	-webkit-transform:translateY(300px);
	-moz-transform:translateY(300px);
	transform:translateY(300px);
	transition:transform ease .8s;
}
.sc-slideup-box.show .sc-target{
	opacity:1;
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	transform:translateY(0);
}
/*--------------------------
	.sc-slideleft-box
----------------------------*/
.sc-slideleft-box .sc-target{
	transform: translate3d(0,0,0);
	visibility:hidden;
	opacity:0;
	-webkit-transform:translateX(600px);
	-moz-transform:translateX(600px);
	transform:translateX(600px);
	transition:transform ease .8s;
}
.sc-slideleft-box.show .sc-target{
	transform: translate3d(0,0,0);
	opacity:1;
	-webkit-transform:translateX(0);
	-moz-transform:translateX(0);
	transform:translateX(0);
}



/* ---------------------------------------------------------------------------
	囲み要素
--------------------------------------------------------------------------- */
.sec-inner{
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
}

.sec-inner02{
	max-width: 1100px;
	margin: 0 auto;
	padding:60px 40px 100px;
	position: relative;
	box-sizing:border-box;
	background:#fff;
}



/* ==========================================================================
   style info :汎用クラス指定レスポンシブ
 ========================================================================== */
@media screen and (max-width: 640px){
	
	.spHide{
		display:none;
	}
	.pcHide{
		display:block;
	}
	/* js連携 電話番号リンク無効 */
	.tellink a{
		cursor:pointer;
	}

	/* ---------------------------------------------------------------------------
		ophover
	--------------------------------------------------------------------------- */
	.ophover:hover{
		opacity: 1 !important;
	}
	
	
	/* ---------------------------------------------------------------------------
		btn-eft
	--------------------------------------------------------------------------- */
	.btn-eft a{
		padding:12px 0;
		font-size:109%;
	}
	.btn-eft a:hover{
		background:none;
	}
	.btn-eft a:before{
		width:18px;
		height:9px;
		background-size:100px auto;
		right:20px;
		margin:-4px 0 0;
	}
	
	/* ---------------------------------------------------------------------------
		btn-w白
	--------------------------------------------------------------------------- */
	.btn-eft.btn-w a{
		background:#fff
	}
	.btn-eft.btn-w a:hover{
		background:#fff;
	}
	
	
	
	
	
	
	/* ---------------------------------------------------------------------------
		タイトル01
	--------------------------------------------------------------------------- */
	.ttl01{
		margin:0 0 25px;
		line-height:1.5;
	}
	.ttl01:before{
		margin:0 auto 9px;
		width:25px;
	}
	.ttl01 span{
		font-size:25px;
	}
	.ttl01 span + span{
		font-size:10px;
	}
	
	/* ---------------------------------------------------------------------------
		タイトル02
	--------------------------------------------------------------------------- */
	.ttl02{
		width:100%;
		margin:0 0 25px;
		padding:0 0 7px;
		font-size:117%;
	}
	.ttl02:before{
		width:71px;
		height:2px;
	}
	
	
	
	/* ---------------------------------------------------------------------------
		囲み要素
	--------------------------------------------------------------------------- */
	.sec-inner{
		max-width: 100%;
	}

	.sec-inner02{
		max-width: 100%;
		padding:30px 10px 50px;
	}




}




/* ===================================================================

 file name  :common.css
 style info :共通のスタイル指定（ストラクチャ、ヘッダー、フッター）

=================================================================== */

/* ---------------------------------------------------------------------------

		structure
			ストラクチャ：基本設定、リンクカラーなど

--------------------------------------------------------------------------- */
a{
	color:#0c286e;
	-webkit-transition:all ease 0.3s;
	-moz-transition:all ease 0.3s;
	transition:all ease 0.3s;
	text-decoration:none;
}




/* ---------------------------------------------------------------------------
		#wrapper
			全体
--------------------------------------------------------------------------- */
#wrapper{
	padding:116px 0 0;
	min-width:1120px;
	overflow:hidden;
	position:relative;
}


/* ---------------------------------------------------------------------------
		#header	
			ヘッダー
--------------------------------------------------------------------------- */
#header{
	min-width:1120px;
	position:absolute;
	overflow:hidden;
	width:100%;
	background:rgba(255,255,255,0.9);
	top:0;
	z-index:10;
	
}

#header.fixed{
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:6000;
}
#header #logo{
	padding:14px 0 14px 20px;
}

#header .info-wrap{
	position:absolute;
	top:18px;
	right:20px;
}



#header #gnav {
	border-top:solid 1px #e6e6e6;
	border-bottom:solid 1px #e6e6e6;
	background:#f3f3f3;
	text-align:center;
}
#header #gnav li{
	display:inline-block;
}
#header #gnav li:before{
	content:"|";
	color:#d4d4d4;
	font-size:150%;
	font-weight: normal;
}
#header #gnav li:first-child:before{
	content:none;
}

#header #gnav li a{
	display:inline-block;
	margin:0 30px;
	padding:17px 0;
	text-decoration:none;
	font-weight: bold;
	color:#000;
	font-size:117%;
	position:relative;
}
#header #gnav li a span{
	-webkit-transition:all ease 0.3s;
	-moz-transition:all ease 0.3s;
	transition:all ease 0.3s;
	text-decoration:none;
}
#header #gnav li a span + span{
	display:inline-block;
	position:absolute;
	top:17px;
	left:0;
	right:0;
	margin:0 -15px;
	text-align:center;
	letter-spacing:0;
	opacity:0;
}

#header #gnav li a:before{
	content:"";
	display:block;
	width:0;
	height:3px;
	background:#192d6f;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	margin:0 auto;
	-webkit-transition:all ease 0.3s;
	-moz-transition:all ease 0.3s;
	transition:all ease 0.3s;
}

#header #gnav li a:hover span:first-child{
	opacity:0;
}
#header #gnav li a:hover span + span{
	opacity:1;
}

#header #gnav li a:hover:before,
.index #header #gnav li.gnav-top a:before,
.reservation #header #gnav li.gnav-reserve a:before,
.course #header #gnav li.gnav-course a:before,
.facility #header #gnav li.gnav-facility a:before,
.restaurant #header #gnav li.gnav-restaurant a:before,
.competition #header #gnav li.gnav-competition a:before,
.info #header #gnav li.gnav-info a:before,
.access #header #gnav li.gnav-access a:before{
	width:100%;
}

.index #header #gnav li.gnav-top a span:first-child,
.reservation #header #gnav li.gnav-reserve a span:first-child,
.course #header #gnav li.gnav-course a span:first-child,
.facility #header #gnav li.gnav-facility a span:first-child,
.restaurant #header #gnav li.gnav-restaurant a span:first-child,
.competition #header #gnav li.gnav-competition a span:first-child,
.info #header #gnav li.gnav-info a span:first-child,
.access #header #gnav li.gnav-access a span:first-child{
	opacity:0;
}

.index #header #gnav li.gnav-top a span + span,
.reservation #header #gnav li.gnav-reserve a span + span,
.course #header #gnav li.gnav-course a span + span,
.facility #header #gnav li.gnav-facility a span + span,
.restaurant #header #gnav li.gnav-restaurant a span + span,
.competition #header #gnav li.gnav-competition a span + span,
.info #header #gnav li.gnav-info a span + span,
.access #header #gnav li.gnav-access a span + span{
	opacity:1;
}










@media screen and (max-width: 1330px){
	#header #gnav li a{
		margin:0 15px;
	}
}




/* ---------------------------------------------------------------------------
		#content		
			コンテンツ
--------------------------------------------------------------------------- */
#pageHeader{
	margin:0 0 70px;
}
#pageHeader h1{
	margin:0;
	padding:43px 0 28px;
	background:#fff;
}
#pageHeader .pagehead-inner img{
	width:100%;
	height:auto;
}

#pageHeader .pankuzu ol{
	width:1100px;
	margin:14px auto 0;
	padding:0 10px;
}
#pageHeader .pankuzu ol li{
	display:inline;
	font-size:117%;
	font-family: "EB Garamond","游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}
#pageHeader .pankuzu ol li a{
	color:#122b6e;
	text-decoration:underline;
}
#pageHeader .pankuzu ol li a:hover{
	text-decoration:none;
}


#content .pagination{
	position:relative;
	margin:0 0 134px;
}
#content .pagination li{
	width:195px;
	position:absolute;
}
#content .pagination a{
	display:block;
	padding:36px 0;
	border:solid 1px #192d6f;
	color:#192d6f;
	font-size:134%;
	position:relative;
}
#content .pagination a:before{
	content:"";
	display:block;
	width:20px;
	height:10px;
	background:url(../img/common/ico.png) no-repeat 0 0;
	background-size:110px auto;
	position:absolute;
	top:50%;
	right:15px;
	margin:-5px 0 0;
}
#content .pagination .btn-prev{
	left:0;
}
#content .pagination .btn-next{
	right:0;
}
#content .pagination .btn-prev a{
	border-left:none;
	padding-left:45px;
}
#content .pagination .btn-prev a:before{
	background-position:0 -22px;
	left:15px;
	right:auto;
}

#content .pagination .btn-next a{
	border-right:none;
	padding-right:45px;
	text-align:right;
}
#content .pagination a:hover{
	background:rgba(18, 43, 110, 0.1);
}





/* ---------------------------------------------------------------------------
		#main
			メイン
--------------------------------------------------------------------------- */
#main{
	padding:0 0 90px;
}




/* ---------------------------------------------------------------------------
		#footer
			フッター
--------------------------------------------------------------------------- */
#footer{
	background-size:100% auto;
}
#footer .food-wrap{
	padding:0 0 50px;
	background:#192d6f;
	background-size:100% auto;
}
#pagetop{
	margin:0 0 74px;
	background:#f3f3f3;
	text-align:center;
}
#footer .foot-inner{
	min-width:1100px;
	margin:0 auto;
	padding:0 10px;
	overflow:hidden;
	position:relative;
}
#footer .address{
	width:318px;
	float:left;
	padding:0 0 0 30px;
	color:#fff;
}
#footer .address p{
	margin:0 0 26px;
}
#footer .address dl{
	line-height:1.8;
}
#footer .address dl dt{
	font-size:125%;
}
#footer .address dl dd{
	font-size:109%;
}
#footer .address dl dd a{
	color:#fff;
}

#footer .fnav-wrap{
	width:838px;
	float:right;
}
#footer #fnav{
	float:left;
	overflow:hidden;
}
#footer #fnav > li{
	width:148px;
	float:left;
	padding:0 0 0 9px;
	font-size:125%;
	border-left:solid 1px #30427e;
}
#footer #fnav > li:nth-child(2){
	border-right:solid 1px #30427e;
}
#footer #fnav > li:nth-child(3){
	width:190px;
	border-left:none;
}
#footer #fnav > li a{
	color:#fff;
	text-decoration:none;
}
#footer #fnav li a:hover{
	text-decoration:underline;
}
#footer #fnav > li > ul > li{
	margin:0 0 20px;
}

#footer .fnav-wrap .btn-point{
	width:304px;
	float:right;
	border:solid 1px #d1d5e2;
	box-sizing:border-box;
	text-align:center;
}
#footer .fnav-wrap .btn-point a{
	display:block;
	padding:10px 0;
	color:#fff;
	font-size:125%;
	position:relative;
}
#footer .fnav-wrap .btn-point a:hover{
	background:rgba(255,255,255,0.3);
}
#footer .fnav-wrap .btn-point a:before{
	content:"";
	display:block;
	width:20px;
	height:10px;
	background:url(../img/common/ico.png) no-repeat 0 -11px;
	background-size:110px auto;
	position:absolute;
	top:50%;
	right:13px;
	margin:-5px 0 0;
}
@media screen and (max-width: 1270px){
	#footer .fnav-wrap{
		width:720px;
	}
	
	#footer #fnav > li{
		width:120px;
		padding:0 0 0 9px;
		font-size:117%;
	}
	#footer #fnav > li:nth-child(3){
		width:140px;
	}
	#footer .fnav-wrap .btn-point{
		width:250px;
	}
}
#footer #copyright{
	padding:20px 20px 20px 0;
	color:#192d6f;
	clear:both;
	text-align:right;
}
#footer #copyright small{
	font-size:100%;
}

/* ===================================================================
 style info :共通のレスポンシブスタイル指定（ストラクチャ、ヘッダー、フッター）
=================================================================== */
@media screen and (max-width: 640px){
	
	/* ---------------------------------------------------------------------------
	
			structure
				ストラクチャ：基本設定、リンクカラーなど
	
	--------------------------------------------------------------------------- */
	a{
		-webkit-transition:all ease 0.3s;
		-moz-transition:all ease 0.3s;
		transition:all ease 0.3s;
	}
	
	/* ---------------------------------------------------------------------------
			#wrapper
				全体
	--------------------------------------------------------------------------- */
	#wrapper{
		padding:0;
		width:100%;
		min-width:100%;
	}
	#wrapper img{
		width:100%;
		height:auto;
	}
	
	
	/* ---------------------------------------------------------------------------
			#header	
				ヘッダー
	--------------------------------------------------------------------------- */
	#header{
		height:46px;
		min-width:100%;
		position:static;
		top:auto;
		z-index:auto;
	}
	#header.fixed{
		position:static;
	}
	#header #logo{
		width:199px;
		float:none;
		padding:10px;
	}


	#header .info-wrap{
		width:137px;
		margin:0 auto;
		padding:18px 0;
		position:static;
	}
	
	
	#header #menuBtn{
		width:52px;
		position:absolute;
		margin:0;
		top:0;
		right:0;
		background:url(../img/common/btn_close.png) no-repeat;
		background-size:100% auto;
		z-index:10000;
	}
	.dialogIsOpen #header #menuBtn{
		z-index:100000;
	}
	.dialogIsOpen #header #menuBtn img{
		opacity:0;
	}
	
	
	
	
	#header .navs{
		width:162px;
		position:absolute;
		top:0;
		right:-162px;
		margin:0;
		z-index:9000;
		background:#fff;
		-webkit-transition:all ease 0.3s;
		-moz-transition:all ease 0.3s;
		transition:all ease 0.3s;
	}
	.dialogIsOpen #header .navs{
		right:0;
	}
	#header #gnav {
		width:100%;
		float:none;
		padding:46px 0 0;
		background:#fff;
		border:none;
	}
	#header #gnav li{
		float:none;
		margin:0;
		width:100%;
		display:block;
		border-bottom:solid 1px #e1e1e1;
	}
	#header #gnav li:first-child{
		border-top:solid 1px #e1e1e1;
	}
	#header #gnav li:before{
		content:none;
	}
	#header #gnav li a:before{
		content:none;
	}
	
	#header #gnav li a{
		display:block;
		width:100%;
		margin:0;
		padding:17px 0;
		font-weight: normal;
		color:#000;
		font-size:109%;
	}
	#header #gnav li a span{
		-webkit-transition:all ease 0.3s;
		-moz-transition:all ease 0.3s;
		transition:all ease 0.3s;
		text-decoration:none;
	}
	#header #gnav li a span + span{
		display:block;
		font-size:9px;
		position:static;
		margin:0;
		opacity:1;
		font-family: "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
	}
	
	#header #gnav li a:before{
		content:none;
	}
	
	#header #gnav li a:hover span:first-child{
		opacity:1;
	}
	#header #gnav li a:hover span + span{
		opacity:1;
	}
	
	
	.index #header #gnav li.gnav-top a span:first-child,
	.reservation #header #gnav li.gnav-reserve a span:first-child,
	.course #header #gnav li.gnav-course a span:first-child,
	.facility #header #gnav li.gnav-facility a span:first-child,
	.restaurant #header #gnav li.gnav-restaurant a span:first-child,
	.competition #header #gnav li.gnav-competition a span:first-child,
	.info #header #gnav li.gnav-info a span:first-child,
	.access #header #gnav li.gnav-access a span:first-child{
		opacity:1;
	}
	
	

	#navOverlay{
		display: none;
		position: fixed;
		top:0;
		left: 0;
		right:0;
		bottom: 0;
		width: 100%;
		height:100%;
		background: rgba(0,0,0,0.5);
		z-index: 8000;
		cursor: pointer;
	}
	
	
		
	/* ---------------------------------------------------------------------------
			#content		
				コンテンツ
	--------------------------------------------------------------------------- */
	#pageHeader{
		margin:0 0 40px;
	}
	#pageHeader h1{
		margin:0;
		padding:19px 0;
		background:#fff;
	}
	#pageHeader .pagehead-inner figure{
		/*margin:0 -90%;*/
		margin:0 -50%;
	}
	
	#pageHeader .pankuzu ol{
		width:auto;
		margin:7px auto 0;
		padding:0 10px;
	}
	#pageHeader .pankuzu ol li{
		display:inline;
		font-size:75%;
		font-family: "EB Garamond","游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
	}
	#pageHeader .pankuzu ol li a{
		color:#122b6e;
		text-decoration:underline;
	}
	#pageHeader .pankuzu ol li a:hover{
		text-decoration:none;
	}
	
	
	
	#content .pagination{
		position:relative;
		margin:0 0 100px;
	}
	#content .pagination li{
		width:48%;
	}
	#content .pagination a{
		padding:20px 0;
		font-size:100%;
	}
	#content .pagination a:before{
		width:18px;
		height:9px;
		background-size:100px auto;
		position:absolute;
		top:50%;
		right:8px;
		margin:-4px 0 0;
	}
	#content .pagination .btn-prev{
		left:0;
	}
	#content .pagination .btn-next{
		right:0;
	}
	#content .pagination .btn-prev a{
		border-left:none;
		padding-left:35px;
	}
	#content .pagination .btn-prev a:before{
		background-position:0 -20px;
		left:8px;
		right:auto;
	}
	
	#content .pagination .btn-next a{
		padding-right:35px;
	}
	
	
	/* ---------------------------------------------------------------------------
			#main
				メイン
	--------------------------------------------------------------------------- */
	#main{
		padding:0 10px 50px;
	}
	
	
	
	/* ---------------------------------------------------------------------------
			#footer
				フッター
	--------------------------------------------------------------------------- */
	#footer{
		width:100%;
		padding:0;
		background-size:150% auto;
	}
	#footer .food-wrap{
		width:100%;
		padding:0 0 36px;
	}
	#pagetop{
		margin:0;
	}
	#pagetop a{
		display:block;
		width:54px;
		margin:0 auto;
	}
	
	#footer .foot-inner{
		min-width:100%;
		margin:0 auto;
		padding:0;
	}
	#footer .address{
		width:auto;
		float:none;
		margin:0;
		padding:0 25px;
		color:#fff;
	}
	#footer .address p{
		width:199px;
		margin:0 0 26px;
	}
	#footer .address dl dt{
		font-size:84%;
	}
	#footer .address dl dd{
		font-size:84%;
	}
	#footer .fnav-wrap{
		width:100%;
		float:none;
	}
	#footer #fnav{
		float:none;
		overflow:hidden;
		margin:0 0 33px;
	}
	#footer #fnav > li{
		width:100% !important;
		float:none;
		padding:0;
		font-size:92%;
		text-align:center;
		border:none;
		box-sizing:border-box;
	}
	#footer #fnav > li:first-child > ul > li:first-child{
	}
	#footer #fnav > li a{
		display:block;
		padding:1em 0;
	}
	#footer #fnav > li a:hover{
		text-decoration:none;
	}
	#footer #fnav > li > ul > li{
		width:49.9%;
		float:left;
		margin:0;
		border-bottom:solid 1px #30427e;
		box-sizing:border-box;
	}
	#footer #fnav > li:first-child > ul > li:nth-child(even){
		border-left:solid 1px #30427e;
	}
	#footer #fnav > li:nth-child(2) > ul > li:nth-child(odd){
		border-left:solid 1px #30427e;
	}
	#footer #fnav > li:nth-child(3) > ul > li:nth-child(even){
		border-left:solid 1px #30427e;
	}
	#footer #fnav > li > ul > li > a:before{
		content:none;
	}
	
	#footer #fnav > li > ul > li > ul >li{
		display:none;
	}
	
	#footer .fnav-wrap .btn-point{
		width:250px;
		float:none;
		margin:0 auto 43px;
	}
	#footer .fnav-wrap .btn-point a{
		display:block;
		padding:10px 0;
		font-size:125%;
	}
	#footer .fnav-wrap .btn-point a:before{
		content:"";
		display:block;
		width:18px;
		height:9px;
		background:url(../img/common/ico.png) no-repeat 0 -10px;
		background-size:100px auto;
		position:absolute;
		top:50%;
		right:13px;
		margin:-4px 0 0;
	}
	
	#footer #copyright{
		padding:10px 0;
		text-align:center;
	}
	#footer #copyright small{
		font-size:75%;
	}
	
	
	
	
	



}






/* ---------------------------------------------------------------------------
		.clearfix
			クリアフィックス
--------------------------------------------------------------------------- */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}

