/**
 * 1.0 Body
 * ----------------------------------------------------------------------------
 */

/* default ---*/

html .mceContentBody {
	background: #FFF;
	color: #333;
	font-size: 13pt !important;
	font-size:75%\9;/* for IE */
	font-family: "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
	line-height: 1.5;
	margin: 10px;
}

p {
	margin:0 0 2em;
	line-height:2.4;
}

a{
	color:#896c3a;
	text-decoration:none;
	outline:none;
}
a:hover{
	color:#c6933a;
}

img{
	max-width:800px;
	height:auto;
	vertical-align: middle;
	margin:0 0 2em;
}

img.size-full{
	margin-right:0;
	margin-left:0;
}
.alignleft {
	float: left;
	margin: 0 1em 1.5em 0 !important;
}
.alignright {
	float: right;
	margin: 0 0 1.5em 1em !important;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 1em auto !important;
}


figure,
.wp-caption{
	display:block;
}
.wp-caption{
	margin-bottom:1.5em;
}

.wp-caption img{
	margin-bottom:0.8em;
}
.wp-caption figcaption,
.wp-caption-dd{
	font-size:84%;
	color:#888888;
	font-style:normal;
}
